ViewModel/HLP.Entries.ViewModel/Service References/cargoService/serviceCargo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceCargo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCargo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCargo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCargo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.RecursosHumanos" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCargo.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCargo.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceCargo_getCargo_InputMessage">
    <wsdl:part name="parameters" element="tns:getCargo" />
  </wsdl:message>
  <wsdl:message name="IserviceCargo_getCargo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCargoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCargo_saveCargo_InputMessage">
    <wsdl:part name="parameters" element="tns:saveCargo" />
  </wsdl:message>
  <wsdl:message name="IserviceCargo_saveCargo_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveCargoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCargo_delCargo_InputMessage">
    <wsdl:part name="parameters" element="tns:delCargo" />
  </wsdl:message>
  <wsdl:message name="IserviceCargo_delCargo_OutputMessage">
    <wsdl:part name="parameters" element="tns:delCargoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCargo_copyCargo_InputMessage">
    <wsdl:part name="parameters" element="tns:copyCargo" />
  </wsdl:message>
  <wsdl:message name="IserviceCargo_copyCargo_OutputMessage">
    <wsdl:part name="parameters" element="tns:copyCargoResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceCargo">
    <wsdl:operation name="getCargo">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCargo/getCargo" message="tns:IserviceCargo_getCargo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCargo/getCargoResponse" message="tns:IserviceCargo_getCargo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveCargo">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCargo/saveCargo" message="tns:IserviceCargo_saveCargo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCargo/saveCargoResponse" message="tns:IserviceCargo_saveCargo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delCargo">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCargo/delCargo" message="tns:IserviceCargo_delCargo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCargo/delCargoResponse" message="tns:IserviceCargo_delCargo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="copyCargo">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCargo/copyCargo" message="tns:IserviceCargo_copyCargo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCargo/copyCargoResponse" message="tns:IserviceCargo_copyCargo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceCargo" type="tns:IserviceCargo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCargo">
      <soap:operation soapAction="http://tempuri.org/IserviceCargo/getCargo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveCargo">
      <soap:operation soapAction="http://tempuri.org/IserviceCargo/saveCargo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delCargo">
      <soap:operation soapAction="http://tempuri.org/IserviceCargo/delCargo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copyCargo">
      <soap:operation soapAction="http://tempuri.org/IserviceCargo/copyCargo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceCargo">
    <wsdl:port name="BasicHttpBinding_IserviceCargo" binding="tns:BasicHttpBinding_IserviceCargo">
      <soap:address location="http://192.168.9.33:8080/wcf/serviceCargo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>