Comum/HLP.Comum.Model/Service References/camposBaseDadosService/camposBaseDadosService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfcampoSqlModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="campoSqlModel" nillable="true" type="tns:campoSqlModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcampoSqlModel" nillable="true" type="tns:ArrayOfcampoSqlModel" />
  <xs:complexType name="campoSqlModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="COLUMN_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="campoSqlModel" nillable="true" type="tns:campoSqlModel" />
</xs:schema>