ViewModel/HLP.Entries.ViewModel/Service References/clienteService/serviceCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceCliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCliente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCliente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCliente.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCliente.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCliente.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceCliente_getCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:getCliente" />
  </wsdl:message>
  <wsdl:message name="IserviceCliente_getCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:getClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCliente_saveCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:saveCliente" />
  </wsdl:message>
  <wsdl:message name="IserviceCliente_saveCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCliente_deleteCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteCliente" />
  </wsdl:message>
  <wsdl:message name="IserviceCliente_deleteCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCliente_copyCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:copyCliente" />
  </wsdl:message>
  <wsdl:message name="IserviceCliente_copyCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:copyClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceCliente">
    <wsdl:operation name="getCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCliente/getCliente" message="tns:IserviceCliente_getCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCliente/getClienteResponse" message="tns:IserviceCliente_getCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCliente/saveCliente" message="tns:IserviceCliente_saveCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCliente/saveClienteResponse" message="tns:IserviceCliente_saveCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCliente/deleteCliente" message="tns:IserviceCliente_deleteCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCliente/deleteClienteResponse" message="tns:IserviceCliente_deleteCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="copyCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCliente/copyCliente" message="tns:IserviceCliente_copyCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCliente/copyClienteResponse" message="tns:IserviceCliente_copyCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceCliente" type="tns:IserviceCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCliente">
      <soap:operation soapAction="http://tempuri.org/IserviceCliente/getCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveCliente">
      <soap:operation soapAction="http://tempuri.org/IserviceCliente/saveCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCliente">
      <soap:operation soapAction="http://tempuri.org/IserviceCliente/deleteCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copyCliente">
      <soap:operation soapAction="http://tempuri.org/IserviceCliente/copyCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceCliente">
    <wsdl:port name="BasicHttpBinding_IserviceCliente" binding="tns:BasicHttpBinding_IserviceCliente">
      <soap:address location="http://192.168.9.33:8080/wcf/serviceCliente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>