Comum/HLP.Comum.ViewModel/Service References/PesquisaPadraoService/servicePesquisaPadrao3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/servicePesquisaPadrao.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
  <xs:element name="GetTableInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sViewName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" minOccurs="0" name="GetTableInformationResult" nillable="true" type="q1:ArrayOfPesquisaPadraoModelContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sSelect" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="addDefault" type="xs:boolean" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bOrdena" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>