HLP.Sales.Services/Service References/wcf_Orcamento/wcf_Orcamento5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Financeiro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Financeiro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_Orcamento.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:complexType name="Descontos_AvistaModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q1:modelComum">
        <xs:sequence>
          <xs:element minOccurs="0" name="_idDescontosAvista" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idDescontosAvista" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idProximoDesconto" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="nDias" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="nMeses" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="pDesconto" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="stLiquidoAtual" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="xDescontos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xDescricao" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Descontos_AvistaModel" nillable="true" type="tns:Descontos_AvistaModel" />
</xs:schema>