View/WPF/HLP.Entries.View.WPF/Service References/produtoService/wcf_Produto3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Produto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" />
  <xs:element name="GetObjeto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProduto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjetoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" minOccurs="0" name="GetObjetoResult" nillable="true" type="q1:ProdutoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" minOccurs="0" name="objProduto" nillable="true" type="q2:ProdutoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" minOccurs="0" name="SaveResult" nillable="true" type="q3:ProdutoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Copy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" minOccurs="0" name="objProduto" nillable="true" type="q4:ProdutoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" minOccurs="0" name="CopyResult" nillable="true" type="q5:ProdutoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProduto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" minOccurs="0" name="getAllResult" nillable="true" type="q6:ArrayOfProdutoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrecoCustoManual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProduto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrecoCustoManualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrecoCustoManualResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValorCompraProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProduto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValorCompraProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetValorCompraProdutoResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>