ViewModel/HLP.Entries.ViewModel/Service References/departamentoService/serviceDepartamento.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceDepartamento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.RecursosHumanos" />
  <xs:element name="getDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDepartamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.RecursosHumanos" minOccurs="0" name="getDepartamentoResult" nillable="true" type="q1:DepartamentoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.RecursosHumanos" minOccurs="0" name="objDepartamento" nillable="true" type="q2:DepartamentoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveDepartamentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDepartamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteDepartamentoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDepartamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="copyDepartamentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>