ViewModel/HLP.Entries.ViewModel/Service References/departamentoService/serviceDepartamento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceDepartamento" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceDepartamento.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceDepartamento.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceDepartamento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.RecursosHumanos" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceDepartamento.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceDepartamento.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceDepartamento_getDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:getDepartamento" />
  </wsdl:message>
  <wsdl:message name="IserviceDepartamento_getDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceDepartamento_saveDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:saveDepartamento" />
  </wsdl:message>
  <wsdl:message name="IserviceDepartamento_saveDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceDepartamento_deleteDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteDepartamento" />
  </wsdl:message>
  <wsdl:message name="IserviceDepartamento_deleteDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceDepartamento_copyDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:copyDepartamento" />
  </wsdl:message>
  <wsdl:message name="IserviceDepartamento_copyDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:copyDepartamentoResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceDepartamento">
    <wsdl:operation name="getDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceDepartamento/getDepartamento" message="tns:IserviceDepartamento_getDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceDepartamento/getDepartamentoResponse" message="tns:IserviceDepartamento_getDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceDepartamento/saveDepartamento" message="tns:IserviceDepartamento_saveDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceDepartamento/saveDepartamentoResponse" message="tns:IserviceDepartamento_saveDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceDepartamento/deleteDepartamento" message="tns:IserviceDepartamento_deleteDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceDepartamento/deleteDepartamentoResponse" message="tns:IserviceDepartamento_deleteDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="copyDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceDepartamento/copyDepartamento" message="tns:IserviceDepartamento_copyDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceDepartamento/copyDepartamentoResponse" message="tns:IserviceDepartamento_copyDepartamento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceDepartamento" type="tns:IserviceDepartamento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDepartamento">
      <soap:operation soapAction="http://tempuri.org/IserviceDepartamento/getDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveDepartamento">
      <soap:operation soapAction="http://tempuri.org/IserviceDepartamento/saveDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDepartamento">
      <soap:operation soapAction="http://tempuri.org/IserviceDepartamento/deleteDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copyDepartamento">
      <soap:operation soapAction="http://tempuri.org/IserviceDepartamento/copyDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceDepartamento">
    <wsdl:port name="BasicHttpBinding_IserviceDepartamento" binding="tns:BasicHttpBinding_IserviceDepartamento">
      <soap:address location="http://192.168.9.33:8080/wcf/serviceDepartamento.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>