ViewModel/HLP.Entries.ViewModel/Service References/ConversaoService/serviceConversao6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceConversao.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceConversao.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:complexType name="ArrayOfConversaoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConversaoModel" nillable="true" type="tns:ConversaoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConversaoModel" nillable="true" type="tns:ArrayOfConversaoModel" />
  <xs:complexType name="ConversaoModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q1:modelBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" minOccurs="0" name="enumTipoArredondamento" type="q2:TipoArredondamento" />
          <xs:element minOccurs="0" name="idConversao" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idDeUnidadeMedida" type="xs:int" />
          <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
          <xs:element minOccurs="0" name="idParaUnidadeMedida" type="xs:int" />
          <xs:element minOccurs="0" name="idProduto" type="xs:int" />
          <xs:element minOccurs="0" name="nFator" type="xs:decimal" />
          <xs:element minOccurs="0" name="nQuantidadeAdicional" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="stArredondar" type="xs:unsignedByte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConversaoModel" nillable="true" type="tns:ConversaoModel" />
</xs:schema>