HLP.Entries.Services/Service References/wcf_Lista_Preco/wcf_Lista_Preco.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Components.Model.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Components.Model.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHlpButtonHierarquiaStruct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HlpButtonHierarquiaStruct" nillable="true" type="tns:HlpButtonHierarquiaStruct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHlpButtonHierarquiaStruct" nillable="true" type="tns:ArrayOfHlpButtonHierarquiaStruct" />
  <xs:complexType name="HlpButtonHierarquiaStruct">
    <xs:sequence>
      <xs:element minOccurs="0" name="xId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xOpcional" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HlpButtonHierarquiaStruct" nillable="true" type="tns:HlpButtonHierarquiaStruct" />
  <xs:complexType name="modelToTreeView">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lFilhos" nillable="true" type="tns:ArrayOfmodelToTreeView" />
      <xs:element minOccurs="0" name="xDisplay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xIdAlternativo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xNameImage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="modelToTreeView" nillable="true" type="tns:modelToTreeView" />
  <xs:complexType name="ArrayOfmodelToTreeView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="modelToTreeView" nillable="true" type="tns:modelToTreeView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmodelToTreeView" nillable="true" type="tns:ArrayOfmodelToTreeView" />
</xs:schema>