HLP.Entries.Services/Service References/wcf_Banco/wcf_Banco.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcf_Banco" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Banco.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Banco.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Banco.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Financeiro" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Banco.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Banco.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.EnumsBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iwcf_Banco_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Banco_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Banco_GetObjeto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjeto" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Banco_GetObjeto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjetoResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Banco_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Banco_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Banco_Copy_InputMessage">
    <wsdl:part name="parameters" element="tns:Copy" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Banco_Copy_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyResponse" />
  </wsdl:message>
  <wsdl:portType name="Iwcf_Banco">
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Banco/Save" message="tns:Iwcf_Banco_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Banco/SaveResponse" message="tns:Iwcf_Banco_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjeto">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Banco/GetObjeto" message="tns:Iwcf_Banco_GetObjeto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Banco/GetObjetoResponse" message="tns:Iwcf_Banco_GetObjeto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Banco/Delete" message="tns:Iwcf_Banco_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Banco/DeleteResponse" message="tns:Iwcf_Banco_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Banco/Copy" message="tns:Iwcf_Banco_Copy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Banco/CopyResponse" message="tns:Iwcf_Banco_Copy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iwcf_Banco" type="tns:Iwcf_Banco">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Banco/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjeto">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Banco/GetObjeto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Banco/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Banco/Copy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcf_Banco">
    <wsdl:port name="BasicHttpBinding_Iwcf_Banco" binding="tns:BasicHttpBinding_Iwcf_Banco">
      <soap:address location="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Banco.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>