HLP.Entries.Services/Service References/wcf_Banco/wcf_Banco64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Financeiro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Financeiro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_Banco.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:complexType name="BancoModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q1:modelComum">
        <xs:sequence>
          <xs:element minOccurs="0" name="cBanco" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idBanco" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="vDxMais" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="vDxMenos" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="xBanco" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xBancoResumido" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xLinkLogo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BancoModel" nillable="true" type="tns:BancoModel" />
</xs:schema>