ViewModel/HLP.Entries.ViewModel/Service References/transportadorService/serviceTransportador.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceTransportador" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceTransportador.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceTransportador.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceTransportador.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Transportes" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceTransportador.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceTransportador.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceTransportador.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceTransportador_getTransportador_InputMessage">
    <wsdl:part name="parameters" element="tns:getTransportador" />
  </wsdl:message>
  <wsdl:message name="IserviceTransportador_getTransportador_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTransportadorResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceTransportador_saveTransportador_InputMessage">
    <wsdl:part name="parameters" element="tns:saveTransportador" />
  </wsdl:message>
  <wsdl:message name="IserviceTransportador_saveTransportador_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveTransportadorResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceTransportador_delTransportador_InputMessage">
    <wsdl:part name="parameters" element="tns:delTransportador" />
  </wsdl:message>
  <wsdl:message name="IserviceTransportador_delTransportador_OutputMessage">
    <wsdl:part name="parameters" element="tns:delTransportadorResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceTransportador_copyTransportador_InputMessage">
    <wsdl:part name="parameters" element="tns:copyTransportador" />
  </wsdl:message>
  <wsdl:message name="IserviceTransportador_copyTransportador_OutputMessage">
    <wsdl:part name="parameters" element="tns:copyTransportadorResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceTransportador">
    <wsdl:operation name="getTransportador">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceTransportador/getTransportador" message="tns:IserviceTransportador_getTransportador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceTransportador/getTransportadorResponse" message="tns:IserviceTransportador_getTransportador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveTransportador">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceTransportador/saveTransportador" message="tns:IserviceTransportador_saveTransportador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceTransportador/saveTransportadorResponse" message="tns:IserviceTransportador_saveTransportador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delTransportador">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceTransportador/delTransportador" message="tns:IserviceTransportador_delTransportador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceTransportador/delTransportadorResponse" message="tns:IserviceTransportador_delTransportador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="copyTransportador">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceTransportador/copyTransportador" message="tns:IserviceTransportador_copyTransportador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceTransportador/copyTransportadorResponse" message="tns:IserviceTransportador_copyTransportador_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceTransportador" type="tns:IserviceTransportador">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTransportador">
      <soap:operation soapAction="http://tempuri.org/IserviceTransportador/getTransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveTransportador">
      <soap:operation soapAction="http://tempuri.org/IserviceTransportador/saveTransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delTransportador">
      <soap:operation soapAction="http://tempuri.org/IserviceTransportador/delTransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copyTransportador">
      <soap:operation soapAction="http://tempuri.org/IserviceTransportador/copyTransportador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceTransportador">
    <wsdl:port name="BasicHttpBinding_IserviceTransportador" binding="tns:BasicHttpBinding_IserviceTransportador">
      <soap:address location="http://192.168.9.33:8081/wcf/serviceTransportador.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>