ViewModel/HLP.Entries.ViewModel/Service References/transportadorService/serviceTransportador1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceTransportador.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Transportes" />
  <xs:element name="getTransportador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTransportador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTransportadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Transportes" minOccurs="0" name="getTransportadorResult" nillable="true" type="q1:TransportadorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveTransportador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Transportes" minOccurs="0" name="objTransportador" nillable="true" type="q2:TransportadorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveTransportadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveTransportadorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delTransportador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTransportador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delTransportadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delTransportadorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyTransportador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Transportes" minOccurs="0" name="objTransportador" nillable="true" type="q3:TransportadorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyTransportadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="copyTransportadorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>