HLP.Comum.Facade/Service References/loginService/serviceLogin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceLogin" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceLogin.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceLogin.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceLogin_ValidaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaUsuario" />
  </wsdl:message>
  <wsdl:message name="IserviceLogin_ValidaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceLogin_ValidaAcesso_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaAcesso" />
  </wsdl:message>
  <wsdl:message name="IserviceLogin_ValidaAcesso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaAcessoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceLogin_ValidaLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaLogin" />
  </wsdl:message>
  <wsdl:message name="IserviceLogin_ValidaLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceLogin_GetIdFuncionarioByXid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdFuncionarioByXid" />
  </wsdl:message>
  <wsdl:message name="IserviceLogin_GetIdFuncionarioByXid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdFuncionarioByXidResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceLogin_ValidaAdministrador_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaAdministrador" />
  </wsdl:message>
  <wsdl:message name="IserviceLogin_ValidaAdministrador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaAdministradorResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceLogin">
    <wsdl:operation name="ValidaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceLogin/ValidaUsuario" message="tns:IserviceLogin_ValidaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceLogin/ValidaUsuarioResponse" message="tns:IserviceLogin_ValidaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidaAcesso">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceLogin/ValidaAcesso" message="tns:IserviceLogin_ValidaAcesso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceLogin/ValidaAcessoResponse" message="tns:IserviceLogin_ValidaAcesso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidaLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceLogin/ValidaLogin" message="tns:IserviceLogin_ValidaLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceLogin/ValidaLoginResponse" message="tns:IserviceLogin_ValidaLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdFuncionarioByXid">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceLogin/GetIdFuncionarioByXid" message="tns:IserviceLogin_GetIdFuncionarioByXid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceLogin/GetIdFuncionarioByXidResponse" message="tns:IserviceLogin_GetIdFuncionarioByXid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidaAdministrador">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceLogin/ValidaAdministrador" message="tns:IserviceLogin_ValidaAdministrador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceLogin/ValidaAdministradorResponse" message="tns:IserviceLogin_ValidaAdministrador_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceLogin" type="tns:IserviceLogin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidaUsuario">
      <soap:operation soapAction="http://tempuri.org/IserviceLogin/ValidaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaAcesso">
      <soap:operation soapAction="http://tempuri.org/IserviceLogin/ValidaAcesso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaLogin">
      <soap:operation soapAction="http://tempuri.org/IserviceLogin/ValidaLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdFuncionarioByXid">
      <soap:operation soapAction="http://tempuri.org/IserviceLogin/GetIdFuncionarioByXid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaAdministrador">
      <soap:operation soapAction="http://tempuri.org/IserviceLogin/ValidaAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceLogin">
    <wsdl:port name="BasicHttpBinding_IserviceLogin" binding="tns:BasicHttpBinding_IserviceLogin">
      <soap:address location="http://192.168.9.33:8080/wcf/serviceLogin.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>