ViewModel/HLP.Entries.ViewModel/Service References/wcf_Site/wcf_Site6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfmodelToTreeView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="modelToTreeView" nillable="true" type="tns:modelToTreeView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmodelToTreeView" nillable="true" type="tns:ArrayOfmodelToTreeView" />
  <xs:complexType name="modelToTreeView">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lFilhos" nillable="true" type="tns:ArrayOfmodelToTreeView" />
      <xs:element minOccurs="0" name="xDisplay" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="modelToTreeView" nillable="true" type="tns:modelToTreeView" />
</xs:schema>