ViewModel/HLP.Entries.ViewModel/Service References/Condicao_PagamentoService/serviceCondicao_Pagamento2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCondicao_Pagamento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
  <xs:element name="getCondicao_pagamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCondicao_pagamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCondicao_pagamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="getCondicao_pagamentoResult" nillable="true" type="q1:Condicao_pagamentoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveCondicao_pagamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="objCondicao_pagamento" nillable="true" type="q2:Condicao_pagamentoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveCondicao_pagamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveCondicao_pagamentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCondicao_pagamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCondicao_pagamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCondicao_pagamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCondicao_pagamentoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyCondicao_pagamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCondicao_pagamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyCondicao_pagamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="copyCondicao_pagamentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>