HLP.Comum.Services/Service References/wcf_OperacoesDataBase/wcf_OperacoesDataBase.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_OperacoesDataBase.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" />
  <xs:complexType name="ArrayOfRecordsSqlModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecordsSqlModel" nillable="true" type="tns:RecordsSqlModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecordsSqlModel" nillable="true" type="tns:ArrayOfRecordsSqlModel" />
  <xs:complexType name="RecordsSqlModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" base="q1:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="display" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RecordsSqlModel" nillable="true" type="tns:RecordsSqlModel" />
</xs:schema>