HLP.Comum.Services/Service References/wcf_OperacoesDataBase/wcf_OperacoesDataBase.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcf_OperacoesDataBase" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_OperacoesDataBase.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_OperacoesDataBase.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_OperacoesDataBase.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_OperacoesDataBase.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_OperacoesDataBase.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.EnumsBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iwcf_OperacoesDataBase_GetRecordsFKUsed_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordsFKUsed" />
  </wsdl:message>
  <wsdl:message name="Iwcf_OperacoesDataBase_GetRecordsFKUsed_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordsFKUsedResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_OperacoesDataBase_GetRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecord" />
  </wsdl:message>
  <wsdl:message name="Iwcf_OperacoesDataBase_GetRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordResponse" />
  </wsdl:message>
  <wsdl:portType name="Iwcf_OperacoesDataBase">
    <wsdl:operation name="GetRecordsFKUsed">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_OperacoesDataBase/GetRecordsFKUsed" message="tns:Iwcf_OperacoesDataBase_GetRecordsFKUsed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_OperacoesDataBase/GetRecordsFKUsedResponse" message="tns:Iwcf_OperacoesDataBase_GetRecordsFKUsed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_OperacoesDataBase/GetRecord" message="tns:Iwcf_OperacoesDataBase_GetRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_OperacoesDataBase/GetRecordResponse" message="tns:Iwcf_OperacoesDataBase_GetRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iwcf_OperacoesDataBase" type="tns:Iwcf_OperacoesDataBase">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecordsFKUsed">
      <soap:operation soapAction="http://tempuri.org/Iwcf_OperacoesDataBase/GetRecordsFKUsed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecord">
      <soap:operation soapAction="http://tempuri.org/Iwcf_OperacoesDataBase/GetRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcf_OperacoesDataBase">
    <wsdl:port name="BasicHttpBinding_Iwcf_OperacoesDataBase" binding="tns:BasicHttpBinding_Iwcf_OperacoesDataBase">
      <soap:address location="http://hlpsistemas.no-ip.org:8081/wcf/wcf_OperacoesDataBase.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>