HLP.Comum.Services/Service References/wcf_OperacoesDataBase/wcf_OperacoesDataBase1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_OperacoesDataBase.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:element name="GetRecordsFKUsed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xTabela" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xCampo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordsFKUsedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" minOccurs="0" name="GetRecordsFKUsedResult" nillable="true" type="q1:ArrayOfRecordsSqlModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>