ViewModel/HLP.Entries.ViewModel/Service References/empresaService/serviceEmpresa.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceEmpresa" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceEmpresa.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceEmpresa.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceEmpresa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceEmpresa.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceEmpresa.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceEmpresa.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceEmpresa_getEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:getEmpresa" />
  </wsdl:message>
  <wsdl:message name="IserviceEmpresa_getEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceEmpresa_saveEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:saveEmpresa" />
  </wsdl:message>
  <wsdl:message name="IserviceEmpresa_saveEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceEmpresa_delEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:delEmpresa" />
  </wsdl:message>
  <wsdl:message name="IserviceEmpresa_delEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:delEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceEmpresa_copyEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:copyEmpresa" />
  </wsdl:message>
  <wsdl:message name="IserviceEmpresa_copyEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:copyEmpresaResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceEmpresa">
    <wsdl:operation name="getEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceEmpresa/getEmpresa" message="tns:IserviceEmpresa_getEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceEmpresa/getEmpresaResponse" message="tns:IserviceEmpresa_getEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceEmpresa/saveEmpresa" message="tns:IserviceEmpresa_saveEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceEmpresa/saveEmpresaResponse" message="tns:IserviceEmpresa_saveEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceEmpresa/delEmpresa" message="tns:IserviceEmpresa_delEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceEmpresa/delEmpresaResponse" message="tns:IserviceEmpresa_delEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="copyEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceEmpresa/copyEmpresa" message="tns:IserviceEmpresa_copyEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceEmpresa/copyEmpresaResponse" message="tns:IserviceEmpresa_copyEmpresa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceEmpresa" type="tns:IserviceEmpresa">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEmpresa">
      <soap:operation soapAction="http://tempuri.org/IserviceEmpresa/getEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveEmpresa">
      <soap:operation soapAction="http://tempuri.org/IserviceEmpresa/saveEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delEmpresa">
      <soap:operation soapAction="http://tempuri.org/IserviceEmpresa/delEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copyEmpresa">
      <soap:operation soapAction="http://tempuri.org/IserviceEmpresa/copyEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceEmpresa">
    <wsdl:port name="BasicHttpBinding_IserviceEmpresa" binding="tns:BasicHttpBinding_IserviceEmpresa">
      <soap:address location="http://192.168.9.33:8080/wcf/serviceEmpresa.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>