ViewModel/HLP.Entries.ViewModel/Service References/Funcionario_AcessoService/serviceFuncionario_Acesso.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceFuncionario_Acesso" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceFuncionario_Acesso.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceFuncionario_Acesso.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceFuncionario_Acesso.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceFuncionario_Acesso.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceFuncionario_Acesso.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceFuncionario_Acesso.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceFuncionario_Acesso_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IserviceFuncionario_Acesso_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceFuncionario_Acesso_GetObjeto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjeto" />
  </wsdl:message>
  <wsdl:message name="IserviceFuncionario_Acesso_GetObjeto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjetoResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceFuncionario_Acesso">
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceFuncionario_Acesso/Save" message="tns:IserviceFuncionario_Acesso_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceFuncionario_Acesso/SaveResponse" message="tns:IserviceFuncionario_Acesso_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjeto">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceFuncionario_Acesso/GetObjeto" message="tns:IserviceFuncionario_Acesso_GetObjeto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceFuncionario_Acesso/GetObjetoResponse" message="tns:IserviceFuncionario_Acesso_GetObjeto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceFuncionario_Acesso" type="tns:IserviceFuncionario_Acesso">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IserviceFuncionario_Acesso/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjeto">
      <soap:operation soapAction="http://tempuri.org/IserviceFuncionario_Acesso/GetObjeto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceFuncionario_Acesso">
    <wsdl:port name="BasicHttpBinding_IserviceFuncionario_Acesso" binding="tns:BasicHttpBinding_IserviceFuncionario_Acesso">
      <soap:address location="http://192.168.9.33:8080/wcf/serviceFuncionario_Acesso.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>