ViewModel/HLP.Entries.ViewModel/Service References/Canal_VendaService/serviceCanal_Venda4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8081/wcf/serviceCanal_Venda.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" />
  <xs:element name="getCanal_venda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCanal_venda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCanal_vendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" minOccurs="0" name="getCanal_vendaResult" nillable="true" type="q1:Canal_vendaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveCanal_venda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" minOccurs="0" name="objCanal_venda" nillable="true" type="q2:Canal_vendaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveCanal_vendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveCanal_vendaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCanal_venda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCanal_venda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCanal_vendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCanal_vendaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyCanal_venda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCanal_venda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyCanal_vendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="copyCanal_vendaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>