ViewModel/HLP.Entries.ViewModel/Service References/siteService/serviceSite2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceSite.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
  <xs:element name="getSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="getSiteResult" nillable="true" type="q1:SiteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="objSite" nillable="true" type="q2:SiteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveSiteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteSiteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copySite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="objSite" nillable="true" type="q3:SiteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copySiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="copySiteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>