HLP.Entries.Services/Service References/wcf_Login/wcf_Login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcf_Login" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Login.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Login.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iwcf_Login_ValidaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaUsuario" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Login_ValidaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Login_ValidaAcesso_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaAcesso" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Login_ValidaAcesso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaAcessoResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Login_ValidaLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaLogin" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Login_ValidaLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaLoginResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Login_GetIdFuncionarioByXid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdFuncionarioByXid" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Login_GetIdFuncionarioByXid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdFuncionarioByXidResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Login_ValidaAdministrador_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaAdministrador" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Login_ValidaAdministrador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaAdministradorResponse" />
  </wsdl:message>
  <wsdl:portType name="Iwcf_Login">
    <wsdl:operation name="ValidaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Login/ValidaUsuario" message="tns:Iwcf_Login_ValidaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Login/ValidaUsuarioResponse" message="tns:Iwcf_Login_ValidaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidaAcesso">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Login/ValidaAcesso" message="tns:Iwcf_Login_ValidaAcesso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Login/ValidaAcessoResponse" message="tns:Iwcf_Login_ValidaAcesso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidaLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Login/ValidaLogin" message="tns:Iwcf_Login_ValidaLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Login/ValidaLoginResponse" message="tns:Iwcf_Login_ValidaLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdFuncionarioByXid">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Login/GetIdFuncionarioByXid" message="tns:Iwcf_Login_GetIdFuncionarioByXid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Login/GetIdFuncionarioByXidResponse" message="tns:Iwcf_Login_GetIdFuncionarioByXid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidaAdministrador">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Login/ValidaAdministrador" message="tns:Iwcf_Login_ValidaAdministrador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Login/ValidaAdministradorResponse" message="tns:Iwcf_Login_ValidaAdministrador_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iwcf_Login" type="tns:Iwcf_Login">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidaUsuario">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Login/ValidaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaAcesso">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Login/ValidaAcesso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaLogin">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Login/ValidaLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdFuncionarioByXid">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Login/GetIdFuncionarioByXid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaAdministrador">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Login/ValidaAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcf_Login">
    <wsdl:port name="BasicHttpBinding_Iwcf_Login" binding="tns:BasicHttpBinding_Iwcf_Login">
      <soap:address location="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Login.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>