HLP.Sales.ViewModel/Service References/wcf_Orcamento/wcf_Orcamento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcf_Orcamento" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/wcf_Orcamento.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/wcf_Orcamento.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/wcf_Orcamento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Sales.Model.Models.Comercial" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/wcf_Orcamento.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/wcf_Orcamento.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/wcf_Orcamento.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iwcf_Orcamento_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Orcamento_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Orcamento_GetObjeto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjeto" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Orcamento_GetObjeto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjetoResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Orcamento_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Orcamento_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Orcamento_Copy_InputMessage">
    <wsdl:part name="parameters" element="tns:Copy" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Orcamento_Copy_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Orcamento_GerarVersao_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarVersao" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Orcamento_GerarVersao_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarVersaoResponse" />
  </wsdl:message>
  <wsdl:portType name="Iwcf_Orcamento">
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Orcamento/Save" message="tns:Iwcf_Orcamento_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Orcamento/SaveResponse" message="tns:Iwcf_Orcamento_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjeto">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Orcamento/GetObjeto" message="tns:Iwcf_Orcamento_GetObjeto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Orcamento/GetObjetoResponse" message="tns:Iwcf_Orcamento_GetObjeto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Orcamento/Delete" message="tns:Iwcf_Orcamento_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Orcamento/DeleteResponse" message="tns:Iwcf_Orcamento_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Orcamento/Copy" message="tns:Iwcf_Orcamento_Copy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Orcamento/CopyResponse" message="tns:Iwcf_Orcamento_Copy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerarVersao">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Orcamento/GerarVersao" message="tns:Iwcf_Orcamento_GerarVersao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Orcamento/GerarVersaoResponse" message="tns:Iwcf_Orcamento_GerarVersao_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iwcf_Orcamento" type="tns:Iwcf_Orcamento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Orcamento/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjeto">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Orcamento/GetObjeto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Orcamento/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Orcamento/Copy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarVersao">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Orcamento/GerarVersao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcf_Orcamento">
    <wsdl:port name="BasicHttpBinding_Iwcf_Orcamento" binding="tns:BasicHttpBinding_Iwcf_Orcamento">
      <soap:address location="http://192.168.9.33:8080/wcf/wcf_Orcamento.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>