HLP.Sales.ViewModel/Service References/wcf_Orcamento/wcf_Orcamento3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/wcf_Orcamento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Sales.Model.Models.Comercial" />
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/wcf_Orcamento.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Sales.Model.Models.Comercial" minOccurs="0" name="objModel" nillable="true" type="q1:Orcamento_ideModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Sales.Model.Models.Comercial" minOccurs="0" name="SaveResult" nillable="true" type="q2:Orcamento_ideModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjeto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idObjeto" type="xs:int" />
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjetoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HLP.Sales.Model.Models.Comercial" minOccurs="0" name="GetObjetoResult" nillable="true" type="q3:Orcamento_ideModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HLP.Sales.Model.Models.Comercial" minOccurs="0" name="objModel" nillable="true" type="q4:Orcamento_ideModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Copy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HLP.Sales.Model.Models.Comercial" minOccurs="0" name="objModel" nillable="true" type="q5:Orcamento_ideModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HLP.Sales.Model.Models.Comercial" minOccurs="0" name="CopyResult" nillable="true" type="q6:Orcamento_ideModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarVersao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HLP.Sales.Model.Models.Comercial" minOccurs="0" name="objModel" nillable="true" type="q7:Orcamento_ideModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarVersaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HLP.Sales.Model.Models.Comercial" minOccurs="0" name="GerarVersaoResult" nillable="true" type="q8:Orcamento_ideModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaVersoes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOrcamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaVersoesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetListaVersoesResult" nillable="true" type="q9:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PossuiFilho">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOrcamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PossuiFilhoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PossuiFilhoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>