ViewModel/HLP.Entries.ViewModel/Service References/Dia_PagamentoService/serviceDiaPagamento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceDiaPagamento" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceDiaPagamento.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceDiaPagamento.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceDiaPagamento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Financeiro" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceDiaPagamento.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceDiaPagamento.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceDiaPagamento.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceDiaPagamento_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IserviceDiaPagamento_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceDiaPagamento_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IserviceDiaPagamento_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceDiaPagamento_Copy_InputMessage">
    <wsdl:part name="parameters" element="tns:Copy" />
  </wsdl:message>
  <wsdl:message name="IserviceDiaPagamento_Copy_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceDiaPagamento_GetObect_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObect" />
  </wsdl:message>
  <wsdl:message name="IserviceDiaPagamento_GetObect_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObectResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceDiaPagamento">
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceDiaPagamento/Save" message="tns:IserviceDiaPagamento_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceDiaPagamento/SaveResponse" message="tns:IserviceDiaPagamento_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceDiaPagamento/Delete" message="tns:IserviceDiaPagamento_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceDiaPagamento/DeleteResponse" message="tns:IserviceDiaPagamento_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceDiaPagamento/Copy" message="tns:IserviceDiaPagamento_Copy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceDiaPagamento/CopyResponse" message="tns:IserviceDiaPagamento_Copy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObect">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceDiaPagamento/GetObect" message="tns:IserviceDiaPagamento_GetObect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceDiaPagamento/GetObectResponse" message="tns:IserviceDiaPagamento_GetObect_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceDiaPagamento" type="tns:IserviceDiaPagamento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IserviceDiaPagamento/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IserviceDiaPagamento/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <soap:operation soapAction="http://tempuri.org/IserviceDiaPagamento/Copy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObect">
      <soap:operation soapAction="http://tempuri.org/IserviceDiaPagamento/GetObect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceDiaPagamento">
    <wsdl:port name="BasicHttpBinding_IserviceDiaPagamento" binding="tns:BasicHttpBinding_IserviceDiaPagamento">
      <soap:address location="http://192.168.9.33:8081/wcf/serviceDiaPagamento.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>