HLP.Entries.Services/Service References/wcf_TipoDocumento/wcf_TipoDocumento51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Fiscal" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Fiscal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_TipoDocumento.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_TipoDocumento.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Fiscal" />
  <xs:complexType name="Tipo_documentoModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q1:modelComum">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ativo" type="xs:boolean" />
          <xs:element minOccurs="0" name="_idTipoDocumento" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
          <xs:element minOccurs="0" name="idModeloDocFiscal" type="xs:int" />
          <xs:element minOccurs="0" name="idTipoDocumento" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="lTipo_documento_oper_validaModel" nillable="true" type="tns:ArrayOfTipo_documento_oper_validaModel" />
          <xs:element minOccurs="0" name="stCompoeVlTotalProdutos" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stDocumento" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stGrupoFaturamento" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stImprimeIcmsProprioComNormal" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stNFdevolucao" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stNfAtivo" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stNfComplementar" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stNfExportacao" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stNfImportacao" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stNfIndustrializacao" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stNfSuframa" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stRelacaoPedidocpaCotacao" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stRelacaoPedidoxnf" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stRelacaoPedidoxorcamento" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stRelacaoPedidoxproducao" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stRelacaoRecebimentoPedidocpa" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stSomaDevolucaoVlTotalNf" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stSomaIpi1Dup" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stSomaSt1Dup" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="xEspecieVolumeNf" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xMarcaVolumeNf" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xObs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xSerieNf" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xTpdoc" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Tipo_documentoModel" nillable="true" type="tns:Tipo_documentoModel" />
  <xs:complexType name="ArrayOfTipo_documento_oper_validaModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tipo_documento_oper_validaModel" nillable="true" type="tns:Tipo_documento_oper_validaModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipo_documento_oper_validaModel" nillable="true" type="tns:ArrayOfTipo_documento_oper_validaModel" />
  <xs:complexType name="Tipo_documento_oper_validaModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q2:modelComum">
        <xs:sequence>
          <xs:element minOccurs="0" name="idTipoDocumento" type="xs:int" />
          <xs:element minOccurs="0" name="idTipoDocumentoOperValida" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idTipoOperacao" type="xs:int" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Fiscal" minOccurs="0" name="objTipoOperacao" nillable="true" type="q3:Tipo_operacaoModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Tipo_documento_oper_validaModel" nillable="true" type="tns:Tipo_documento_oper_validaModel" />
  <xs:complexType name="ArrayOfTipo_documentoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tipo_documentoModel" nillable="true" type="tns:Tipo_documentoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipo_documentoModel" nillable="true" type="tns:ArrayOfTipo_documentoModel" />
</xs:schema>