ViewModel/HLP.Entries.ViewModel/Service References/CalendarioService/serviceCalendario1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCalendario.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCalendario.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
  <xs:complexType name="modelBase">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" minOccurs="0" name="lcamposSqlNotNull" nillable="true" type="q1:ArrayOfPesquisaPadraoModelContract" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" minOccurs="0" name="status" type="q2:statusModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="modelBase" nillable="true" type="tns:modelBase" />
</xs:schema>