ViewModel/HLP.Entries.ViewModel/Service References/CalendarioService/serviceCalendario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCalendario.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:complexType name="CalendarioModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q1:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="_idCalendario" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idCalendario" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idCalendarioBase" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
          <xs:element minOccurs="0" name="lCalendario_DetalheModel" nillable="true" type="tns:ArrayOfCalendario_DetalheModel" />
          <xs:element minOccurs="0" name="xDescricao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xNome" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CalendarioModel" nillable="true" type="tns:CalendarioModel" />
  <xs:complexType name="ArrayOfCalendario_DetalheModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Calendario_DetalheModel" nillable="true" type="tns:Calendario_DetalheModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCalendario_DetalheModel" nillable="true" type="tns:ArrayOfCalendario_DetalheModel" />
  <xs:complexType name="Calendario_DetalheModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q2:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="dCalendario" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dHoraInicio" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dHoraTermino" type="xs:dateTime" />
          <xs:element minOccurs="0" name="idCalendario" type="xs:int" />
          <xs:element minOccurs="0" name="idCalendarioDetalhe" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Calendario_DetalheModel" nillable="true" type="tns:Calendario_DetalheModel" />
</xs:schema>