HLP.Entries.Services/Service References/wcf_CanalDeVenda/wcf_CanalDeVenda3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_CanalDeVenda.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" />
  <xs:complexType name="Canal_vendaModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" base="q1:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="cCanalVenda" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idCanalVenda" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="xCanalVenda" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Canal_vendaModel" nillable="true" type="tns:Canal_vendaModel" />
</xs:schema>