HLP.Comum.Facade/Service References/cidadeService/serviceCidade1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8081/wcf/serviceCidade.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
  <xs:element name="getCidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="getCidadeResult" nillable="true" type="q1:CidadeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveCidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="objCidade" nillable="true" type="q2:CidadeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveCidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveCidadeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delCidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delCidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delCidadeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyCidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyCidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="copyCidadeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>