ViewModel/HLP.Entries.ViewModel/Service References/Situacao_tributaria_pisService/serviceSituacao_tributaria_pis1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Fiscal" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Fiscal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8081/wcf/serviceSituacao_tributaria_pis.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:complexType name="Situacao_tributaria_pisModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q1:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="cCSTPis" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idCSTPis" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="stSimplesNacional" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="xCSTPis" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Situacao_tributaria_pisModel" nillable="true" type="tns:Situacao_tributaria_pisModel" />
</xs:schema>