HLP.Entries.Services/Service References/wcf_FamiliaProduto/wcf_FamiliaProduto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcf_FamiliaProduto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_FamiliaProduto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_FamiliaProduto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_FamiliaProduto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_FamiliaProduto.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_FamiliaProduto.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.EnumsBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iwcf_FamiliaProduto_GetObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObject" />
  </wsdl:message>
  <wsdl:message name="Iwcf_FamiliaProduto_GetObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_FamiliaProduto_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="Iwcf_FamiliaProduto_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_FamiliaProduto_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="Iwcf_FamiliaProduto_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_FamiliaProduto_Copy_InputMessage">
    <wsdl:part name="parameters" element="tns:Copy" />
  </wsdl:message>
  <wsdl:message name="Iwcf_FamiliaProduto_Copy_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_FamiliaProduto_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="Iwcf_FamiliaProduto_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:portType name="Iwcf_FamiliaProduto">
    <wsdl:operation name="GetObject">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_FamiliaProduto/GetObject" message="tns:Iwcf_FamiliaProduto_GetObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_FamiliaProduto/GetObjectResponse" message="tns:Iwcf_FamiliaProduto_GetObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_FamiliaProduto/Save" message="tns:Iwcf_FamiliaProduto_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_FamiliaProduto/SaveResponse" message="tns:Iwcf_FamiliaProduto_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_FamiliaProduto/Delete" message="tns:Iwcf_FamiliaProduto_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_FamiliaProduto/DeleteResponse" message="tns:Iwcf_FamiliaProduto_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_FamiliaProduto/Copy" message="tns:Iwcf_FamiliaProduto_Copy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_FamiliaProduto/CopyResponse" message="tns:Iwcf_FamiliaProduto_Copy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_FamiliaProduto/GetAll" message="tns:Iwcf_FamiliaProduto_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_FamiliaProduto/GetAllResponse" message="tns:Iwcf_FamiliaProduto_GetAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iwcf_FamiliaProduto" type="tns:Iwcf_FamiliaProduto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetObject">
      <soap:operation soapAction="http://tempuri.org/Iwcf_FamiliaProduto/GetObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/Iwcf_FamiliaProduto/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Iwcf_FamiliaProduto/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <soap:operation soapAction="http://tempuri.org/Iwcf_FamiliaProduto/Copy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/Iwcf_FamiliaProduto/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcf_FamiliaProduto">
    <wsdl:port name="BasicHttpBinding_Iwcf_FamiliaProduto" binding="tns:BasicHttpBinding_Iwcf_FamiliaProduto">
      <soap:address location="http://hlpsistemas.no-ip.org:8081/wcf/wcf_FamiliaProduto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>