HLP.Comum.Services/Service References/wcf_Documentos/wcf_Documentos3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_Documentos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:element name="GetListObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xTabela" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPk" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" minOccurs="0" name="GetListObjectResult" nillable="true" type="q1:ArrayOfDocumentosModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" minOccurs="0" name="lDocumentos" nillable="true" type="q2:ArrayOfDocumentosModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" minOccurs="0" name="SaveObjectResult" nillable="true" type="q3:ArrayOfDocumentosModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xNameTabela" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPk" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteObjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" minOccurs="0" name="lDocumentos" nillable="true" type="q4:ArrayOfDocumentosModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" minOccurs="0" name="CopyObjectResult" nillable="true" type="q5:ArrayOfDocumentosModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>