HLP.ComumView.Services/Service References/wcf_Cidade/wcf_Cidade.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcf_Cidade" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Cidade.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Cidade.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Cidade.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Cidade.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Cidade.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.EnumsBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iwcf_Cidade_GetObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObject" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Cidade_GetObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Cidade_SaveObject_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveObject" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Cidade_SaveObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveObjectResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Cidade_DeleteObject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteObject" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Cidade_DeleteObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteObjectResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Cidade_CopyObject_InputMessage">
    <wsdl:part name="parameters" element="tns:CopyObject" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Cidade_CopyObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyObjectResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Cidade_GetCidadeByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCidadeByName" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Cidade_GetCidadeByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCidadeByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="Iwcf_Cidade">
    <wsdl:operation name="GetObject">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Cidade/GetObject" message="tns:Iwcf_Cidade_GetObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Cidade/GetObjectResponse" message="tns:Iwcf_Cidade_GetObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveObject">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Cidade/SaveObject" message="tns:Iwcf_Cidade_SaveObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Cidade/SaveObjectResponse" message="tns:Iwcf_Cidade_SaveObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteObject">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Cidade/DeleteObject" message="tns:Iwcf_Cidade_DeleteObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Cidade/DeleteObjectResponse" message="tns:Iwcf_Cidade_DeleteObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CopyObject">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Cidade/CopyObject" message="tns:Iwcf_Cidade_CopyObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Cidade/CopyObjectResponse" message="tns:Iwcf_Cidade_CopyObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCidadeByName">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Cidade/GetCidadeByName" message="tns:Iwcf_Cidade_GetCidadeByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Cidade/GetCidadeByNameResponse" message="tns:Iwcf_Cidade_GetCidadeByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iwcf_Cidade" type="tns:Iwcf_Cidade">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetObject">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Cidade/GetObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveObject">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Cidade/SaveObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteObject">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Cidade/DeleteObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyObject">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Cidade/CopyObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCidadeByName">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Cidade/GetCidadeByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcf_Cidade">
    <wsdl:port name="BasicHttpBinding_Iwcf_Cidade" binding="tns:BasicHttpBinding_Iwcf_Cidade">
      <soap:address location="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Cidade.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>