ViewModel/HLP.Entries.ViewModel/Service References/wcf_Funcionario/wcf_Funcionario4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Funcionario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Funcionario.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/HLP.Components.Model.Models" />
  <xs:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Funcionario.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" />
  <xs:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Funcionario.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
  <xs:complexType name="FuncionarioModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" base="q1:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ativo" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="dAdmissao" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dAniversario" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dFalecimento" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dFinalVisto" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dFinalVistoTrabalho" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dQtdHorasDomingo" type="ser:duration" />
          <xs:element minOccurs="0" name="dQtdHorasQuarta" type="ser:duration" />
          <xs:element minOccurs="0" name="dQtdHorasQuinta" type="ser:duration" />
          <xs:element minOccurs="0" name="dQtdHorasSabado" type="ser:duration" />
          <xs:element minOccurs="0" name="dQtdHorasSegunda" type="ser:duration" />
          <xs:element minOccurs="0" name="dQtdHorasSexta" type="ser:duration" />
          <xs:element minOccurs="0" name="dQtdHorasTerca" type="ser:duration" />
          <xs:element minOccurs="0" name="idCalendario" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idCargo" type="xs:int" />
          <xs:element minOccurs="0" name="idContaBancaria" type="xs:int" />
          <xs:element minOccurs="0" name="idDepartamento" type="xs:int" />
          <xs:element minOccurs="0" name="idDeposito" type="xs:int" />
          <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
          <xs:element minOccurs="0" name="idFuncionario" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idResponsavel" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idSite" type="xs:int" />
          <xs:element minOccurs="0" name="imgFoto" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="lFamiliaProduto" nillable="true" type="tns:ArrayOfFamilia_produtoModel" />
          <xs:element minOccurs="0" name="lFuncionario_Acesso" nillable="true" type="tns:ArrayOfFuncionario_AcessoModel" />
          <xs:element minOccurs="0" name="lFuncionario_Arquivo" nillable="true" type="tns:ArrayOfFuncionario_ArquivoModel" />
          <xs:element minOccurs="0" name="lFuncionario_Certificacao" nillable="true" type="tns:ArrayOfFuncionario_CertificacaoModel" />
          <xs:element minOccurs="0" name="lFuncionario_Comissao_Produto" nillable="true" type="tns:ArrayOfFuncionario_Comissao_ProdutoModel" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Components.Model.Models" minOccurs="0" name="lFuncionario_Endereco" nillable="true" type="q2:ArrayOfEnderecoModel" />
          <xs:element minOccurs="0" name="lFuncionario_Margem_Lucro_Comissao" nillable="true" type="tns:ArrayOfFuncionario_Margem_Lucro_ComissaoModel" />
          <xs:element minOccurs="0" name="pComissaoAprazo" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="pComissaoAvista" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="stComissao" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stEstadoCivil" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stLiberaHoraExtra" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stPerfil" type="xs:int" />
          <xs:element minOccurs="0" name="stSalario" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stSexo" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stTipo" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stTipoContaContabil" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stUsuario" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stUsuarioAtivo" type="xs:boolean" />
          <xs:element minOccurs="0" name="vDiaria" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vSalario" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vSalarioHora" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="xCelularComercial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xCelularResidencial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xCodigoAlternativo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xConjugue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xCpf" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xEmailComercial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xEmailResidencial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xFaxComercial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xFilhos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xFormacaoEducacional" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xHttpComercial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xHttpPessoal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xInformacaoAtencao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xMsnComercial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xMsnResidencial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xNome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xNota" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xPagerComercial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xRadioFoneComercial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xRadioFoneResidencial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xRamalComercial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xRg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xSaudacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xSenha" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xSkypeComercial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xSkypeResidencial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xTelefoneComercial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xTelefoneResidencial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xVisto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xVistoTrabalho" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FuncionarioModel" nillable="true" type="tns:FuncionarioModel" />
  <xs:complexType name="ArrayOfFamilia_produtoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Familia_produtoModel" nillable="true" type="tns:Familia_produtoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFamilia_produtoModel" nillable="true" type="tns:ArrayOfFamilia_produtoModel" />
  <xs:complexType name="Familia_produtoModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" base="q3:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="idCentroCusto" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idContaContabil" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
          <xs:element minOccurs="0" name="idFamiliaProduto" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idFamiliaProdutoBase" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="lFamilia_Produto_ClassesModel" nillable="true" type="tns:ArrayOfFamilia_Produto_ClassesModel" />
          <xs:element minOccurs="0" name="pAcressimoMaximo" type="xs:decimal" />
          <xs:element minOccurs="0" name="pComissaoAprazo" type="xs:decimal" />
          <xs:element minOccurs="0" name="pComissaoAvista" type="xs:decimal" />
          <xs:element minOccurs="0" name="pDescontoMaximo" type="xs:decimal" />
          <xs:element minOccurs="0" name="stAlteraDescricaoComercialProdutoVenda" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stGrau" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="xDescricao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xFamiliaProduto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xSigla" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Familia_produtoModel" nillable="true" type="tns:Familia_produtoModel" />
  <xs:complexType name="ArrayOfFamilia_Produto_ClassesModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Familia_Produto_ClassesModel" nillable="true" type="tns:Familia_Produto_ClassesModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFamilia_Produto_ClassesModel" nillable="true" type="tns:ArrayOfFamilia_Produto_ClassesModel" />
  <xs:complexType name="Familia_Produto_ClassesModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" base="q4:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="idClasseFinanceira" type="xs:int" />
          <xs:element minOccurs="0" name="idFamiliaProduto" type="xs:int" />
          <xs:element minOccurs="0" name="idFamilia_Produto_Classes" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idTipoOperacao" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Familia_Produto_ClassesModel" nillable="true" type="tns:Familia_Produto_ClassesModel" />
  <xs:complexType name="ArrayOfFuncionario_AcessoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Funcionario_AcessoModel" nillable="true" type="tns:Funcionario_AcessoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuncionario_AcessoModel" nillable="true" type="tns:ArrayOfFuncionario_AcessoModel" />
  <xs:complexType name="Funcionario_AcessoModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" base="q5:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="idAcesso" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
          <xs:element minOccurs="0" name="idFuncionario" type="xs:int" />
          <xs:element minOccurs="0" name="idSetor" type="xs:int" />
          <xs:element minOccurs="0" name="vCompraAprovaAuto" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Funcionario_AcessoModel" nillable="true" type="tns:Funcionario_AcessoModel" />
  <xs:complexType name="ArrayOfFuncionario_ArquivoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Funcionario_ArquivoModel" nillable="true" type="tns:Funcionario_ArquivoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuncionario_ArquivoModel" nillable="true" type="tns:ArrayOfFuncionario_ArquivoModel" />
  <xs:complexType name="Funcionario_ArquivoModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" base="q6:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="idFuncionario" type="xs:int" />
          <xs:element minOccurs="0" name="idFuncionarioArquivo" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="xArquivo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xLink" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Funcionario_ArquivoModel" nillable="true" type="tns:Funcionario_ArquivoModel" />
  <xs:complexType name="ArrayOfFuncionario_CertificacaoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Funcionario_CertificacaoModel" nillable="true" type="tns:Funcionario_CertificacaoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuncionario_CertificacaoModel" nillable="true" type="tns:ArrayOfFuncionario_CertificacaoModel" />
  <xs:complexType name="Funcionario_CertificacaoModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" base="q7:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="dConclusao" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dValidade" type="xs:dateTime" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" minOccurs="0" name="enumTipoCertificacao" type="q8:TipoCertificacao" />
          <xs:element minOccurs="0" name="idFuncionario" type="xs:int" />
          <xs:element minOccurs="0" name="idFuncionarioCertificacao" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="stCertificacao" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="xCertificacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xMemorando" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Funcionario_CertificacaoModel" nillable="true" type="tns:Funcionario_CertificacaoModel" />
  <xs:complexType name="ArrayOfFuncionario_Comissao_ProdutoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Funcionario_Comissao_ProdutoModel" nillable="true" type="tns:Funcionario_Comissao_ProdutoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuncionario_Comissao_ProdutoModel" nillable="true" type="tns:ArrayOfFuncionario_Comissao_ProdutoModel" />
  <xs:complexType name="Funcionario_Comissao_ProdutoModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" base="q9:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="idFuncionario" type="xs:int" />
          <xs:element minOccurs="0" name="idFuncionarioComissaoProduto" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idProduto" type="xs:int" />
          <xs:element minOccurs="0" name="pComissaoAprazo" type="xs:decimal" />
          <xs:element minOccurs="0" name="pComissaoAvista" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Funcionario_Comissao_ProdutoModel" nillable="true" type="tns:Funcionario_Comissao_ProdutoModel" />
  <xs:complexType name="ArrayOfFuncionario_Margem_Lucro_ComissaoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Funcionario_Margem_Lucro_ComissaoModel" nillable="true" type="tns:Funcionario_Margem_Lucro_ComissaoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuncionario_Margem_Lucro_ComissaoModel" nillable="true" type="tns:ArrayOfFuncionario_Margem_Lucro_ComissaoModel" />
  <xs:complexType name="Funcionario_Margem_Lucro_ComissaoModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" base="q10:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="idFuncionario" type="xs:int" />
          <xs:element minOccurs="0" name="idFuncionarioMargemLucroComissao" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="pAteMargemVenda" type="xs:decimal" />
          <xs:element minOccurs="0" name="pComissaoAprazo" type="xs:decimal" />
          <xs:element minOccurs="0" name="pComissaoAvista" type="xs:decimal" />
          <xs:element minOccurs="0" name="pDeMargemVenda" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Funcionario_Margem_Lucro_ComissaoModel" nillable="true" type="tns:Funcionario_Margem_Lucro_ComissaoModel" />
</xs:schema>