ViewModel/HLP.Entries.ViewModel/Service References/wcf_Funcionario/wcf_Funcionario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcf_Funcionario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Funcionario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Funcionario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Funcionario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Funcionario.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Funcionario.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.EnumsBases" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Funcionario.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Funcionario.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/HLP.Components.Model.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iwcf_Funcionario_getFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:getFuncionario" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Funcionario_getFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Funcionario_saveFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:saveFuncionario" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Funcionario_saveFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Funcionario_deleteFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteFuncionario" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Funcionario_deleteFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Funcionario_copyFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:copyFuncionario" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Funcionario_copyFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:copyFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Funcionario_GetHierarquiaFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHierarquiaFuncionario" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Funcionario_GetHierarquiaFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHierarquiaFuncionarioResponse" />
  </wsdl:message>
  <wsdl:portType name="Iwcf_Funcionario">
    <wsdl:operation name="getFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Funcionario/getFuncionario" message="tns:Iwcf_Funcionario_getFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Funcionario/getFuncionarioResponse" message="tns:Iwcf_Funcionario_getFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Funcionario/saveFuncionario" message="tns:Iwcf_Funcionario_saveFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Funcionario/saveFuncionarioResponse" message="tns:Iwcf_Funcionario_saveFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Funcionario/deleteFuncionario" message="tns:Iwcf_Funcionario_deleteFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Funcionario/deleteFuncionarioResponse" message="tns:Iwcf_Funcionario_deleteFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="copyFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Funcionario/copyFuncionario" message="tns:Iwcf_Funcionario_copyFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Funcionario/copyFuncionarioResponse" message="tns:Iwcf_Funcionario_copyFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHierarquiaFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Funcionario/GetHierarquiaFuncionario" message="tns:Iwcf_Funcionario_GetHierarquiaFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Funcionario/GetHierarquiaFuncionarioResponse" message="tns:Iwcf_Funcionario_GetHierarquiaFuncionario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iwcf_Funcionario" type="tns:Iwcf_Funcionario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getFuncionario">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Funcionario/getFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveFuncionario">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Funcionario/saveFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteFuncionario">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Funcionario/deleteFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copyFuncionario">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Funcionario/copyFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHierarquiaFuncionario">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Funcionario/GetHierarquiaFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcf_Funcionario">
    <wsdl:port name="BasicHttpBinding_Iwcf_Funcionario" binding="tns:BasicHttpBinding_Iwcf_Funcionario">
      <soap:address location="http://192.168.9.33:8081/wcf/wcf_Funcionario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>