ViewModel/HLP.Entries.ViewModel/Service References/wcf_Lista_Preco/wcf_Lista_Preco.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcf_Lista_Preco" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Lista_Preco.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Lista_Preco.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Lista_Preco.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Components.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Lista_Preco.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Lista_Preco.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Lista_Preco.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.EnumsBases" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Lista_Preco.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iwcf_Lista_Preco_GetLista_PrecoHierarquia_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLista_PrecoHierarquia" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Lista_Preco_GetLista_PrecoHierarquia_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLista_PrecoHierarquiaResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Lista_Preco_GetSelectedLista_PrecoFullHierarquia_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSelectedLista_PrecoFullHierarquia" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Lista_Preco_GetSelectedLista_PrecoFullHierarquia_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSelectedLista_PrecoFullHierarquiaResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Lista_Preco_getLista_Preco_InputMessage">
    <wsdl:part name="parameters" element="tns:getLista_Preco" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Lista_Preco_getLista_Preco_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLista_PrecoResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Lista_Preco_GetItensListaPreco_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItensListaPreco" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Lista_Preco_GetItensListaPreco_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItensListaPrecoResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Lista_Preco_saveLista_Preco_InputMessage">
    <wsdl:part name="parameters" element="tns:saveLista_Preco" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Lista_Preco_saveLista_Preco_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveLista_PrecoResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Lista_Preco_deleteLista_Preco_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteLista_Preco" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Lista_Preco_deleteLista_Preco_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteLista_PrecoResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Lista_Preco_copyLista_Preco_InputMessage">
    <wsdl:part name="parameters" element="tns:copyLista_Preco" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Lista_Preco_copyLista_Preco_OutputMessage">
    <wsdl:part name="parameters" element="tns:copyLista_PrecoResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Lista_Preco_GetAllIdsListaPreco_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIdsListaPreco" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Lista_Preco_GetAllIdsListaPreco_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIdsListaPrecoResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Lista_Preco_GetIdListaPreferencial_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdListaPreferencial" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Lista_Preco_GetIdListaPreferencial_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdListaPreferencialResponse" />
  </wsdl:message>
  <wsdl:portType name="Iwcf_Lista_Preco">
    <wsdl:operation name="GetLista_PrecoHierarquia">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Lista_Preco/GetLista_PrecoHierarquia" message="tns:Iwcf_Lista_Preco_GetLista_PrecoHierarquia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Lista_Preco/GetLista_PrecoHierarquiaResponse" message="tns:Iwcf_Lista_Preco_GetLista_PrecoHierarquia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSelectedLista_PrecoFullHierarquia">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Lista_Preco/GetSelectedLista_PrecoFullHierarquia" message="tns:Iwcf_Lista_Preco_GetSelectedLista_PrecoFullHierarquia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Lista_Preco/GetSelectedLista_PrecoFullHierarquiaResponse" message="tns:Iwcf_Lista_Preco_GetSelectedLista_PrecoFullHierarquia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLista_Preco">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Lista_Preco/getLista_Preco" message="tns:Iwcf_Lista_Preco_getLista_Preco_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Lista_Preco/getLista_PrecoResponse" message="tns:Iwcf_Lista_Preco_getLista_Preco_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItensListaPreco">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Lista_Preco/GetItensListaPreco" message="tns:Iwcf_Lista_Preco_GetItensListaPreco_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Lista_Preco/GetItensListaPrecoResponse" message="tns:Iwcf_Lista_Preco_GetItensListaPreco_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveLista_Preco">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Lista_Preco/saveLista_Preco" message="tns:Iwcf_Lista_Preco_saveLista_Preco_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Lista_Preco/saveLista_PrecoResponse" message="tns:Iwcf_Lista_Preco_saveLista_Preco_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteLista_Preco">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Lista_Preco/deleteLista_Preco" message="tns:Iwcf_Lista_Preco_deleteLista_Preco_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Lista_Preco/deleteLista_PrecoResponse" message="tns:Iwcf_Lista_Preco_deleteLista_Preco_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="copyLista_Preco">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Lista_Preco/copyLista_Preco" message="tns:Iwcf_Lista_Preco_copyLista_Preco_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Lista_Preco/copyLista_PrecoResponse" message="tns:Iwcf_Lista_Preco_copyLista_Preco_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllIdsListaPreco">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Lista_Preco/GetAllIdsListaPreco" message="tns:Iwcf_Lista_Preco_GetAllIdsListaPreco_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Lista_Preco/GetAllIdsListaPrecoResponse" message="tns:Iwcf_Lista_Preco_GetAllIdsListaPreco_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdListaPreferencial">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Lista_Preco/GetIdListaPreferencial" message="tns:Iwcf_Lista_Preco_GetIdListaPreferencial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Lista_Preco/GetIdListaPreferencialResponse" message="tns:Iwcf_Lista_Preco_GetIdListaPreferencial_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iwcf_Lista_Preco" type="tns:Iwcf_Lista_Preco">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLista_PrecoHierarquia">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Lista_Preco/GetLista_PrecoHierarquia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectedLista_PrecoFullHierarquia">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Lista_Preco/GetSelectedLista_PrecoFullHierarquia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLista_Preco">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Lista_Preco/getLista_Preco" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItensListaPreco">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Lista_Preco/GetItensListaPreco" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveLista_Preco">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Lista_Preco/saveLista_Preco" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLista_Preco">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Lista_Preco/deleteLista_Preco" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copyLista_Preco">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Lista_Preco/copyLista_Preco" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllIdsListaPreco">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Lista_Preco/GetAllIdsListaPreco" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdListaPreferencial">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Lista_Preco/GetIdListaPreferencial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcf_Lista_Preco">
    <wsdl:port name="BasicHttpBinding_Iwcf_Lista_Preco" binding="tns:BasicHttpBinding_Iwcf_Lista_Preco">
      <soap:address location="http://192.168.9.33:8081/wcf/wcf_Lista_Preco.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>