Comum/HLP.Comum.Model/Service References/CidadeComumService/serviceCidade.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceCidade" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCidade.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCidade.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCidade.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCidade.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCidade.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCidade.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceCidade_getCidade_InputMessage">
    <wsdl:part name="parameters" element="tns:getCidade" />
  </wsdl:message>
  <wsdl:message name="IserviceCidade_getCidade_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCidadeResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCidade_GetCidadeByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCidadeByName" />
  </wsdl:message>
  <wsdl:message name="IserviceCidade_GetCidadeByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCidadeByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCidade_saveCidade_InputMessage">
    <wsdl:part name="parameters" element="tns:saveCidade" />
  </wsdl:message>
  <wsdl:message name="IserviceCidade_saveCidade_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveCidadeResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCidade_delCidade_InputMessage">
    <wsdl:part name="parameters" element="tns:delCidade" />
  </wsdl:message>
  <wsdl:message name="IserviceCidade_delCidade_OutputMessage">
    <wsdl:part name="parameters" element="tns:delCidadeResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCidade_copyCidade_InputMessage">
    <wsdl:part name="parameters" element="tns:copyCidade" />
  </wsdl:message>
  <wsdl:message name="IserviceCidade_copyCidade_OutputMessage">
    <wsdl:part name="parameters" element="tns:copyCidadeResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceCidade">
    <wsdl:operation name="getCidade">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCidade/getCidade" message="tns:IserviceCidade_getCidade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCidade/getCidadeResponse" message="tns:IserviceCidade_getCidade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCidadeByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCidade/GetCidadeByName" message="tns:IserviceCidade_GetCidadeByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCidade/GetCidadeByNameResponse" message="tns:IserviceCidade_GetCidadeByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveCidade">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCidade/saveCidade" message="tns:IserviceCidade_saveCidade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCidade/saveCidadeResponse" message="tns:IserviceCidade_saveCidade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delCidade">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCidade/delCidade" message="tns:IserviceCidade_delCidade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCidade/delCidadeResponse" message="tns:IserviceCidade_delCidade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="copyCidade">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCidade/copyCidade" message="tns:IserviceCidade_copyCidade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCidade/copyCidadeResponse" message="tns:IserviceCidade_copyCidade_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceCidade" type="tns:IserviceCidade">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCidade">
      <soap:operation soapAction="http://tempuri.org/IserviceCidade/getCidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCidadeByName">
      <soap:operation soapAction="http://tempuri.org/IserviceCidade/GetCidadeByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveCidade">
      <soap:operation soapAction="http://tempuri.org/IserviceCidade/saveCidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delCidade">
      <soap:operation soapAction="http://tempuri.org/IserviceCidade/delCidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copyCidade">
      <soap:operation soapAction="http://tempuri.org/IserviceCidade/copyCidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceCidade">
    <wsdl:port name="BasicHttpBinding_IserviceCidade" binding="tns:BasicHttpBinding_IserviceCidade">
      <soap:address location="http://192.168.9.33:8080/wcf/serviceCidade.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>