Comum/HLP.Comum.Model/Service References/CidadeComumService/serviceCidade4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCidade.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:complexType name="CidadeModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q1:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="_idUF" type="xs:int" />
          <xs:element minOccurs="0" name="cIbge" type="xs:int" />
          <xs:element minOccurs="0" name="idCidade" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idUF" type="xs:int" />
          <xs:element minOccurs="0" name="xCidade" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CidadeModel" nillable="true" type="tns:CidadeModel" />
</xs:schema>