HLP.Comum.Services/Service References/wcf_SelectConnectionConfig/wcf_SelectConnectionConfig1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_SelectConnectionConfig.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:element name="GetBaseConfiguration">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaseConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" minOccurs="0" name="GetBaseConfigurationResult" nillable="true" type="q1:MagnificusBaseConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>