ViewModel/HLP.Entries.ViewModel/Service References/moedaService/serviceMoeda.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceMoeda" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceMoeda.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceMoeda.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceMoeda.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceMoeda.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceMoeda.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceMoeda.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceMoeda_getMoeda_InputMessage">
    <wsdl:part name="parameters" element="tns:getMoeda" />
  </wsdl:message>
  <wsdl:message name="IserviceMoeda_getMoeda_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMoedaResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceMoeda_saveMoeda_InputMessage">
    <wsdl:part name="parameters" element="tns:saveMoeda" />
  </wsdl:message>
  <wsdl:message name="IserviceMoeda_saveMoeda_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveMoedaResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceMoeda_deleteMoeda_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteMoeda" />
  </wsdl:message>
  <wsdl:message name="IserviceMoeda_deleteMoeda_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteMoedaResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceMoeda_copyMoeda_InputMessage">
    <wsdl:part name="parameters" element="tns:copyMoeda" />
  </wsdl:message>
  <wsdl:message name="IserviceMoeda_copyMoeda_OutputMessage">
    <wsdl:part name="parameters" element="tns:copyMoedaResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceMoeda">
    <wsdl:operation name="getMoeda">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceMoeda/getMoeda" message="tns:IserviceMoeda_getMoeda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceMoeda/getMoedaResponse" message="tns:IserviceMoeda_getMoeda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveMoeda">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceMoeda/saveMoeda" message="tns:IserviceMoeda_saveMoeda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceMoeda/saveMoedaResponse" message="tns:IserviceMoeda_saveMoeda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteMoeda">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceMoeda/deleteMoeda" message="tns:IserviceMoeda_deleteMoeda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceMoeda/deleteMoedaResponse" message="tns:IserviceMoeda_deleteMoeda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="copyMoeda">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceMoeda/copyMoeda" message="tns:IserviceMoeda_copyMoeda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceMoeda/copyMoedaResponse" message="tns:IserviceMoeda_copyMoeda_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceMoeda" type="tns:IserviceMoeda">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMoeda">
      <soap:operation soapAction="http://tempuri.org/IserviceMoeda/getMoeda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveMoeda">
      <soap:operation soapAction="http://tempuri.org/IserviceMoeda/saveMoeda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMoeda">
      <soap:operation soapAction="http://tempuri.org/IserviceMoeda/deleteMoeda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copyMoeda">
      <soap:operation soapAction="http://tempuri.org/IserviceMoeda/copyMoeda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceMoeda">
    <wsdl:port name="BasicHttpBinding_IserviceMoeda" binding="tns:BasicHttpBinding_IserviceMoeda">
      <soap:address location="http://192.168.9.33:8080/wcf/serviceMoeda.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>