ViewModel/HLP.Entries.ViewModel/Service References/moedaService/serviceMoeda3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceMoeda.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
  <xs:element name="getMoeda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMoeda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMoedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="getMoedaResult" nillable="true" type="q1:MoedaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveMoeda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="objMoeda" nillable="true" type="q2:MoedaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveMoedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveMoedaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMoeda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMoeda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMoedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteMoedaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyMoeda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMoeda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyMoedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="copyMoedaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>