HLP.Comum.Facade/Service References/Ramo_AtividadeService/serviceRamoAtividade.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceRamoAtividade" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceRamoAtividade.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceRamoAtividade.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceRamoAtividade.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceRamoAtividade.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceRamoAtividade.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceRamoAtividade.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceRamoAtividade_getRamo_atividade_InputMessage">
    <wsdl:part name="parameters" element="tns:getRamo_atividade" />
  </wsdl:message>
  <wsdl:message name="IserviceRamoAtividade_getRamo_atividade_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRamo_atividadeResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceRamoAtividade_saveRamo_atividade_InputMessage">
    <wsdl:part name="parameters" element="tns:saveRamo_atividade" />
  </wsdl:message>
  <wsdl:message name="IserviceRamoAtividade_saveRamo_atividade_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveRamo_atividadeResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceRamoAtividade_deleteRamo_atividade_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteRamo_atividade" />
  </wsdl:message>
  <wsdl:message name="IserviceRamoAtividade_deleteRamo_atividade_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteRamo_atividadeResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceRamoAtividade_copyRamo_atividade_InputMessage">
    <wsdl:part name="parameters" element="tns:copyRamo_atividade" />
  </wsdl:message>
  <wsdl:message name="IserviceRamoAtividade_copyRamo_atividade_OutputMessage">
    <wsdl:part name="parameters" element="tns:copyRamo_atividadeResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceRamoAtividade">
    <wsdl:operation name="getRamo_atividade">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceRamoAtividade/getRamo_atividade" message="tns:IserviceRamoAtividade_getRamo_atividade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceRamoAtividade/getRamo_atividadeResponse" message="tns:IserviceRamoAtividade_getRamo_atividade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveRamo_atividade">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceRamoAtividade/saveRamo_atividade" message="tns:IserviceRamoAtividade_saveRamo_atividade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceRamoAtividade/saveRamo_atividadeResponse" message="tns:IserviceRamoAtividade_saveRamo_atividade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteRamo_atividade">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceRamoAtividade/deleteRamo_atividade" message="tns:IserviceRamoAtividade_deleteRamo_atividade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceRamoAtividade/deleteRamo_atividadeResponse" message="tns:IserviceRamoAtividade_deleteRamo_atividade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="copyRamo_atividade">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceRamoAtividade/copyRamo_atividade" message="tns:IserviceRamoAtividade_copyRamo_atividade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceRamoAtividade/copyRamo_atividadeResponse" message="tns:IserviceRamoAtividade_copyRamo_atividade_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceRamoAtividade" type="tns:IserviceRamoAtividade">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getRamo_atividade">
      <soap:operation soapAction="http://tempuri.org/IserviceRamoAtividade/getRamo_atividade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveRamo_atividade">
      <soap:operation soapAction="http://tempuri.org/IserviceRamoAtividade/saveRamo_atividade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRamo_atividade">
      <soap:operation soapAction="http://tempuri.org/IserviceRamoAtividade/deleteRamo_atividade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copyRamo_atividade">
      <soap:operation soapAction="http://tempuri.org/IserviceRamoAtividade/copyRamo_atividade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceRamoAtividade">
    <wsdl:port name="BasicHttpBinding_IserviceRamoAtividade" binding="tns:BasicHttpBinding_IserviceRamoAtividade">
      <soap:address location="http://192.168.9.33:8080/wcf/serviceRamoAtividade.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>