HLP.Comum.Facade/Service References/Ramo_AtividadeService/serviceRamoAtividade4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8081/wcf/serviceRamoAtividade.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
  <xs:element name="getRamo_atividade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRamo_atividade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRamo_atividadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="getRamo_atividadeResult" nillable="true" type="q1:Ramo_atividadeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveRamo_atividade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="objRamo_atividade" nillable="true" type="q2:Ramo_atividadeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveRamo_atividadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveRamo_atividadeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteRamo_atividade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRamo_atividade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteRamo_atividadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteRamo_atividadeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyRamo_atividade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRamo_atividade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyRamo_atividadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="copyRamo_atividadeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>