ViewModel/HLP.Entries.ViewModel/Service References/jurosService/serviceJuros.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceJuros" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceJuros.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceJuros.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceJuros.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceJuros.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceJuros.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceJuros.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceJuros_getJuros_InputMessage">
    <wsdl:part name="parameters" element="tns:getJuros" />
  </wsdl:message>
  <wsdl:message name="IserviceJuros_getJuros_OutputMessage">
    <wsdl:part name="parameters" element="tns:getJurosResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceJuros_saveJuros_InputMessage">
    <wsdl:part name="parameters" element="tns:saveJuros" />
  </wsdl:message>
  <wsdl:message name="IserviceJuros_saveJuros_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveJurosResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceJuros_deleteJuros_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteJuros" />
  </wsdl:message>
  <wsdl:message name="IserviceJuros_deleteJuros_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteJurosResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceJuros_copyJuros_InputMessage">
    <wsdl:part name="parameters" element="tns:copyJuros" />
  </wsdl:message>
  <wsdl:message name="IserviceJuros_copyJuros_OutputMessage">
    <wsdl:part name="parameters" element="tns:copyJurosResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceJuros">
    <wsdl:operation name="getJuros">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceJuros/getJuros" message="tns:IserviceJuros_getJuros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceJuros/getJurosResponse" message="tns:IserviceJuros_getJuros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveJuros">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceJuros/saveJuros" message="tns:IserviceJuros_saveJuros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceJuros/saveJurosResponse" message="tns:IserviceJuros_saveJuros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteJuros">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceJuros/deleteJuros" message="tns:IserviceJuros_deleteJuros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceJuros/deleteJurosResponse" message="tns:IserviceJuros_deleteJuros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="copyJuros">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceJuros/copyJuros" message="tns:IserviceJuros_copyJuros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceJuros/copyJurosResponse" message="tns:IserviceJuros_copyJuros_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceJuros" type="tns:IserviceJuros">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getJuros">
      <soap:operation soapAction="http://tempuri.org/IserviceJuros/getJuros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveJuros">
      <soap:operation soapAction="http://tempuri.org/IserviceJuros/saveJuros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteJuros">
      <soap:operation soapAction="http://tempuri.org/IserviceJuros/deleteJuros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copyJuros">
      <soap:operation soapAction="http://tempuri.org/IserviceJuros/copyJuros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceJuros">
    <wsdl:port name="BasicHttpBinding_IserviceJuros" binding="tns:BasicHttpBinding_IserviceJuros">
      <soap:address location="http://192.168.9.33:8081/wcf/serviceJuros.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>