Comum/HLP.Comum.ViewModel/Service References/HlpPesquisaPadraoService/servicePesquisaPadrao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="servicePesquisaPadrao" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/servicePesquisaPadrao.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/servicePesquisaPadrao.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/servicePesquisaPadrao.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/servicePesquisaPadrao.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IservicePesquisaPadrao_GetTableInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTableInformation" />
  </wsdl:message>
  <wsdl:message name="IservicePesquisaPadrao_GetTableInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTableInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IservicePesquisaPadrao_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IservicePesquisaPadrao_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IservicePesquisaPadrao">
    <wsdl:operation name="GetTableInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IservicePesquisaPadrao/GetTableInformation" message="tns:IservicePesquisaPadrao_GetTableInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IservicePesquisaPadrao/GetTableInformationResponse" message="tns:IservicePesquisaPadrao_GetTableInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IservicePesquisaPadrao/GetData" message="tns:IservicePesquisaPadrao_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IservicePesquisaPadrao/GetDataResponse" message="tns:IservicePesquisaPadrao_GetData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IservicePesquisaPadrao" type="tns:IservicePesquisaPadrao">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTableInformation">
      <soap:operation soapAction="http://tempuri.org/IservicePesquisaPadrao/GetTableInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IservicePesquisaPadrao/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="servicePesquisaPadrao">
    <wsdl:port name="BasicHttpBinding_IservicePesquisaPadrao" binding="tns:BasicHttpBinding_IservicePesquisaPadrao">
      <soap:address location="http://192.168.9.33:8081/wcf/servicePesquisaPadrao.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>