Comum/HLP.Comum.ViewModel/Service References/HlpPesquisaPadraoService/serviceHlpPesquisaPadrao2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceHlpPesquisaPadrao.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Wcf.Entries" />
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceHlpPesquisaPadrao.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sSelect" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="addDefault" type="xs:boolean" />
        <xs:element minOccurs="0" name="sWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bOrdena" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Wcf.Entries" minOccurs="0" name="GetDataResult" nillable="true" type="q1:DetailsView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sViewName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" minOccurs="0" name="GetTableInformationResult" nillable="true" type="q2:ArrayOfPesquisaPadraoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>