HLP.Entries.Services/Service References/wcf_CargaTribMediaStIcms/wcf_CargaTribMediaStIcms53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Fiscal" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Fiscal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_CargaTribMediaStIcms.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:complexType name="Carga_trib_media_st_icmsModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q1:modelComum">
        <xs:sequence>
          <xs:element minOccurs="0" name="idCargaTribMediaStIcms" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idRamoAtividade" type="xs:int" />
          <xs:element minOccurs="0" name="idUf" type="xs:int" />
          <xs:element minOccurs="0" name="pCargaTributariaMedia" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Carga_trib_media_st_icmsModel" nillable="true" type="tns:Carga_trib_media_st_icmsModel" />
</xs:schema>