ViewModel/HLP.Entries.ViewModel/Service References/wcf_FuncionarioPonto/wcf_Funcionario_Controle_Horas_Ponto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcf_Funcionario_Controle_Horas_Ponto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Funcionario_Controle_Horas_Ponto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Funcionario_Controle_Horas_Ponto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Funcionario_Controle_Horas_Ponto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Funcionario_Controle_Horas_Ponto.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Funcionario_Controle_Horas_Ponto.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Funcionario_Controle_Horas_Ponto.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iwcf_Funcionario_Controle_Horas_Ponto_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Funcionario_Controle_Horas_Ponto_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Funcionario_Controle_Horas_Ponto_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Funcionario_Controle_Horas_Ponto_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Funcionario_Controle_Horas_Ponto_GetFuncionario_Controle_Horas_Ponto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFuncionario_Controle_Horas_Ponto" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Funcionario_Controle_Horas_Ponto_GetFuncionario_Controle_Horas_Ponto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFuncionario_Controle_Horas_PontoResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Funcionario_Controle_Horas_Ponto_GetAllFuncionario_Controle_Horas_Ponto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFuncionario_Controle_Horas_Ponto" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Funcionario_Controle_Horas_Ponto_GetAllFuncionario_Controle_Horas_Ponto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFuncionario_Controle_Horas_PontoResponse" />
  </wsdl:message>
  <wsdl:portType name="Iwcf_Funcionario_Controle_Horas_Ponto">
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Funcionario_Controle_Horas_Ponto/Save" message="tns:Iwcf_Funcionario_Controle_Horas_Ponto_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Funcionario_Controle_Horas_Ponto/SaveResponse" message="tns:Iwcf_Funcionario_Controle_Horas_Ponto_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Funcionario_Controle_Horas_Ponto/Delete" message="tns:Iwcf_Funcionario_Controle_Horas_Ponto_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Funcionario_Controle_Horas_Ponto/DeleteResponse" message="tns:Iwcf_Funcionario_Controle_Horas_Ponto_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFuncionario_Controle_Horas_Ponto">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Funcionario_Controle_Horas_Ponto/GetFuncionario_Controle_Horas_Ponto" message="tns:Iwcf_Funcionario_Controle_Horas_Ponto_GetFuncionario_Controle_Horas_Ponto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Funcionario_Controle_Horas_Ponto/GetFuncionario_Controle_Horas_PontoResponse" message="tns:Iwcf_Funcionario_Controle_Horas_Ponto_GetFuncionario_Controle_Horas_Ponto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFuncionario_Controle_Horas_Ponto">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Funcionario_Controle_Horas_Ponto/GetAllFuncionario_Controle_Horas_Ponto" message="tns:Iwcf_Funcionario_Controle_Horas_Ponto_GetAllFuncionario_Controle_Horas_Ponto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Funcionario_Controle_Horas_Ponto/GetAllFuncionario_Controle_Horas_PontoResponse" message="tns:Iwcf_Funcionario_Controle_Horas_Ponto_GetAllFuncionario_Controle_Horas_Ponto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iwcf_Funcionario_Controle_Horas_Ponto" type="tns:Iwcf_Funcionario_Controle_Horas_Ponto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Funcionario_Controle_Horas_Ponto/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Funcionario_Controle_Horas_Ponto/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFuncionario_Controle_Horas_Ponto">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Funcionario_Controle_Horas_Ponto/GetFuncionario_Controle_Horas_Ponto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFuncionario_Controle_Horas_Ponto">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Funcionario_Controle_Horas_Ponto/GetAllFuncionario_Controle_Horas_Ponto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcf_Funcionario_Controle_Horas_Ponto">
    <wsdl:port name="BasicHttpBinding_Iwcf_Funcionario_Controle_Horas_Ponto" binding="tns:BasicHttpBinding_Iwcf_Funcionario_Controle_Horas_Ponto">
      <soap:address location="http://192.168.9.33:8081/wcf/wcf_Funcionario_Controle_Horas_Ponto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>