HLP.Entries.Services/Service References/wcf_CodigoIcms/wcf_CodigoIcms1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcf_CodigoIcms" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_CodigoIcms.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_CodigoIcms.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_CodigoIcms.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Fiscal" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_CodigoIcms.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_CodigoIcms.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iwcf_CodigoIcms_GetObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObject" />
  </wsdl:message>
  <wsdl:message name="Iwcf_CodigoIcms_GetObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_CodigoIcms_SaveObject_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveObject" />
  </wsdl:message>
  <wsdl:message name="Iwcf_CodigoIcms_SaveObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveObjectResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_CodigoIcms_DeleteObject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteObject" />
  </wsdl:message>
  <wsdl:message name="Iwcf_CodigoIcms_DeleteObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteObjectResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_CodigoIcms_CopyObject_InputMessage">
    <wsdl:part name="parameters" element="tns:CopyObject" />
  </wsdl:message>
  <wsdl:message name="Iwcf_CodigoIcms_CopyObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyObjectResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_CodigoIcms_GetObjectByUf_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectByUf" />
  </wsdl:message>
  <wsdl:message name="Iwcf_CodigoIcms_GetObjectByUf_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectByUfResponse" />
  </wsdl:message>
  <wsdl:portType name="Iwcf_CodigoIcms">
    <wsdl:operation name="GetObject">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_CodigoIcms/GetObject" message="tns:Iwcf_CodigoIcms_GetObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_CodigoIcms/GetObjectResponse" message="tns:Iwcf_CodigoIcms_GetObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveObject">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_CodigoIcms/SaveObject" message="tns:Iwcf_CodigoIcms_SaveObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_CodigoIcms/SaveObjectResponse" message="tns:Iwcf_CodigoIcms_SaveObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteObject">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_CodigoIcms/DeleteObject" message="tns:Iwcf_CodigoIcms_DeleteObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_CodigoIcms/DeleteObjectResponse" message="tns:Iwcf_CodigoIcms_DeleteObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CopyObject">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_CodigoIcms/CopyObject" message="tns:Iwcf_CodigoIcms_CopyObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_CodigoIcms/CopyObjectResponse" message="tns:Iwcf_CodigoIcms_CopyObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjectByUf">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_CodigoIcms/GetObjectByUf" message="tns:Iwcf_CodigoIcms_GetObjectByUf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_CodigoIcms/GetObjectByUfResponse" message="tns:Iwcf_CodigoIcms_GetObjectByUf_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iwcf_CodigoIcms" type="tns:Iwcf_CodigoIcms">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetObject">
      <soap:operation soapAction="http://tempuri.org/Iwcf_CodigoIcms/GetObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveObject">
      <soap:operation soapAction="http://tempuri.org/Iwcf_CodigoIcms/SaveObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteObject">
      <soap:operation soapAction="http://tempuri.org/Iwcf_CodigoIcms/DeleteObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyObject">
      <soap:operation soapAction="http://tempuri.org/Iwcf_CodigoIcms/CopyObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjectByUf">
      <soap:operation soapAction="http://tempuri.org/Iwcf_CodigoIcms/GetObjectByUf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcf_CodigoIcms">
    <wsdl:port name="BasicHttpBinding_Iwcf_CodigoIcms" binding="tns:BasicHttpBinding_Iwcf_CodigoIcms">
      <soap:address location="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_CodigoIcms.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>