HLP.Comum.Facade/Service References/Condicao_PagamentoService/serviceCondicao_Pagamento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceCondicao_Pagamento" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceCondicao_Pagamento.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceCondicao_Pagamento.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceCondicao_Pagamento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceCondicao_Pagamento.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceCondicao_Pagamento.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceCondicao_Pagamento.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceCondicao_Pagamento_getCondicao_pagamento_InputMessage">
    <wsdl:part name="parameters" element="tns:getCondicao_pagamento" />
  </wsdl:message>
  <wsdl:message name="IserviceCondicao_Pagamento_getCondicao_pagamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCondicao_pagamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCondicao_Pagamento_saveCondicao_pagamento_InputMessage">
    <wsdl:part name="parameters" element="tns:saveCondicao_pagamento" />
  </wsdl:message>
  <wsdl:message name="IserviceCondicao_Pagamento_saveCondicao_pagamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveCondicao_pagamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCondicao_Pagamento_deleteCondicao_pagamento_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteCondicao_pagamento" />
  </wsdl:message>
  <wsdl:message name="IserviceCondicao_Pagamento_deleteCondicao_pagamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteCondicao_pagamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCondicao_Pagamento_copyCondicao_pagamento_InputMessage">
    <wsdl:part name="parameters" element="tns:copyCondicao_pagamento" />
  </wsdl:message>
  <wsdl:message name="IserviceCondicao_Pagamento_copyCondicao_pagamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:copyCondicao_pagamentoResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceCondicao_Pagamento">
    <wsdl:operation name="getCondicao_pagamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCondicao_Pagamento/getCondicao_pagamento" message="tns:IserviceCondicao_Pagamento_getCondicao_pagamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCondicao_Pagamento/getCondicao_pagamentoResponse" message="tns:IserviceCondicao_Pagamento_getCondicao_pagamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveCondicao_pagamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCondicao_Pagamento/saveCondicao_pagamento" message="tns:IserviceCondicao_Pagamento_saveCondicao_pagamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCondicao_Pagamento/saveCondicao_pagamentoResponse" message="tns:IserviceCondicao_Pagamento_saveCondicao_pagamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteCondicao_pagamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCondicao_Pagamento/deleteCondicao_pagamento" message="tns:IserviceCondicao_Pagamento_deleteCondicao_pagamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCondicao_Pagamento/deleteCondicao_pagamentoResponse" message="tns:IserviceCondicao_Pagamento_deleteCondicao_pagamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="copyCondicao_pagamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCondicao_Pagamento/copyCondicao_pagamento" message="tns:IserviceCondicao_Pagamento_copyCondicao_pagamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCondicao_Pagamento/copyCondicao_pagamentoResponse" message="tns:IserviceCondicao_Pagamento_copyCondicao_pagamento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceCondicao_Pagamento" type="tns:IserviceCondicao_Pagamento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCondicao_pagamento">
      <soap:operation soapAction="http://tempuri.org/IserviceCondicao_Pagamento/getCondicao_pagamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveCondicao_pagamento">
      <soap:operation soapAction="http://tempuri.org/IserviceCondicao_Pagamento/saveCondicao_pagamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCondicao_pagamento">
      <soap:operation soapAction="http://tempuri.org/IserviceCondicao_Pagamento/deleteCondicao_pagamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copyCondicao_pagamento">
      <soap:operation soapAction="http://tempuri.org/IserviceCondicao_Pagamento/copyCondicao_pagamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceCondicao_Pagamento">
    <wsdl:port name="BasicHttpBinding_IserviceCondicao_Pagamento" binding="tns:BasicHttpBinding_IserviceCondicao_Pagamento">
      <soap:address location="http://192.168.9.33:8081/wcf/serviceCondicao_Pagamento.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>