HLP.Entries.Services/Service References/wcf_EmpresaParametros/wcf_EmpresaParametros.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcf_EmpresaParametros" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_EmpresaParametros.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_EmpresaParametros.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_EmpresaParametros.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_EmpresaParametros.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_EmpresaParametros.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.EnumsBases" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_EmpresaParametros.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Parametros" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_EmpresaParametros.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iwcf_EmpresaParametros_getEmpresaParametros_InputMessage">
    <wsdl:part name="parameters" element="tns:getEmpresaParametros" />
  </wsdl:message>
  <wsdl:message name="Iwcf_EmpresaParametros_getEmpresaParametros_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEmpresaParametrosResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_EmpresaParametros_saveEmpresaParamestros_InputMessage">
    <wsdl:part name="parameters" element="tns:saveEmpresaParamestros" />
  </wsdl:message>
  <wsdl:message name="Iwcf_EmpresaParametros_saveEmpresaParamestros_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveEmpresaParamestrosResponse" />
  </wsdl:message>
  <wsdl:portType name="Iwcf_EmpresaParametros">
    <wsdl:operation name="getEmpresaParametros">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_EmpresaParametros/getEmpresaParametros" message="tns:Iwcf_EmpresaParametros_getEmpresaParametros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_EmpresaParametros/getEmpresaParametrosResponse" message="tns:Iwcf_EmpresaParametros_getEmpresaParametros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveEmpresaParamestros">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_EmpresaParametros/saveEmpresaParamestros" message="tns:Iwcf_EmpresaParametros_saveEmpresaParamestros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_EmpresaParametros/saveEmpresaParamestrosResponse" message="tns:Iwcf_EmpresaParametros_saveEmpresaParamestros_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iwcf_EmpresaParametros" type="tns:Iwcf_EmpresaParametros">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEmpresaParametros">
      <soap:operation soapAction="http://tempuri.org/Iwcf_EmpresaParametros/getEmpresaParametros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveEmpresaParamestros">
      <soap:operation soapAction="http://tempuri.org/Iwcf_EmpresaParametros/saveEmpresaParamestros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcf_EmpresaParametros">
    <wsdl:port name="BasicHttpBinding_Iwcf_EmpresaParametros" binding="tns:BasicHttpBinding_Iwcf_EmpresaParametros">
      <soap:address location="http://hlpsistemas.no-ip.org:8081/wcf/wcf_EmpresaParametros.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>