ViewModel/HLP.Entries.ViewModel/Service References/ufService/serviceUf2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceUf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
  <xs:element name="getUf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUf" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="getUfResult" nillable="true" type="q1:UFModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveUf">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="objModel" nillable="true" type="q2:UFModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveUfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveUfResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUf" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteUfResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>