ViewModel/HLP.Entries.ViewModel/Service References/Tipo_documentoService/serviceTipo_documento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceTipo_documento" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceTipo_documento.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceTipo_documento.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceTipo_documento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Fiscal" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceTipo_documento.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceTipo_documento.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceTipo_documento_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IserviceTipo_documento_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceTipo_documento_GetDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumento" />
  </wsdl:message>
  <wsdl:message name="IserviceTipo_documento_GetDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceTipo_documento_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IserviceTipo_documento_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceTipo_documento_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IserviceTipo_documento_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceTipo_documento_Begin_InputMessage">
    <wsdl:part name="parameters" element="tns:Begin" />
  </wsdl:message>
  <wsdl:message name="IserviceTipo_documento_Begin_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceTipo_documento_Commit_InputMessage">
    <wsdl:part name="parameters" element="tns:Commit" />
  </wsdl:message>
  <wsdl:message name="IserviceTipo_documento_Commit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommitResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceTipo_documento_RollBack_InputMessage">
    <wsdl:part name="parameters" element="tns:RollBack" />
  </wsdl:message>
  <wsdl:message name="IserviceTipo_documento_RollBack_OutputMessage">
    <wsdl:part name="parameters" element="tns:RollBackResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceTipo_documento_Copy_InputMessage">
    <wsdl:part name="parameters" element="tns:Copy" />
  </wsdl:message>
  <wsdl:message name="IserviceTipo_documento_Copy_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceTipo_documento_GetTipo_documentoAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTipo_documentoAll" />
  </wsdl:message>
  <wsdl:message name="IserviceTipo_documento_GetTipo_documentoAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTipo_documentoAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceTipo_documento">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceTipo_documento/DoWork" message="tns:IserviceTipo_documento_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceTipo_documento/DoWorkResponse" message="tns:IserviceTipo_documento_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceTipo_documento/GetDocumento" message="tns:IserviceTipo_documento_GetDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceTipo_documento/GetDocumentoResponse" message="tns:IserviceTipo_documento_GetDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceTipo_documento/Save" message="tns:IserviceTipo_documento_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceTipo_documento/SaveResponse" message="tns:IserviceTipo_documento_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceTipo_documento/Delete" message="tns:IserviceTipo_documento_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceTipo_documento/DeleteResponse" message="tns:IserviceTipo_documento_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Begin">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceTipo_documento/Begin" message="tns:IserviceTipo_documento_Begin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceTipo_documento/BeginResponse" message="tns:IserviceTipo_documento_Begin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Commit">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceTipo_documento/Commit" message="tns:IserviceTipo_documento_Commit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceTipo_documento/CommitResponse" message="tns:IserviceTipo_documento_Commit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RollBack">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceTipo_documento/RollBack" message="tns:IserviceTipo_documento_RollBack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceTipo_documento/RollBackResponse" message="tns:IserviceTipo_documento_RollBack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceTipo_documento/Copy" message="tns:IserviceTipo_documento_Copy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceTipo_documento/CopyResponse" message="tns:IserviceTipo_documento_Copy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTipo_documentoAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceTipo_documento/GetTipo_documentoAll" message="tns:IserviceTipo_documento_GetTipo_documentoAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceTipo_documento/GetTipo_documentoAllResponse" message="tns:IserviceTipo_documento_GetTipo_documentoAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceTipo_documento" type="tns:IserviceTipo_documento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IserviceTipo_documento/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumento">
      <soap:operation soapAction="http://tempuri.org/IserviceTipo_documento/GetDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IserviceTipo_documento/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IserviceTipo_documento/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Begin">
      <soap:operation soapAction="http://tempuri.org/IserviceTipo_documento/Begin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Commit">
      <soap:operation soapAction="http://tempuri.org/IserviceTipo_documento/Commit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RollBack">
      <soap:operation soapAction="http://tempuri.org/IserviceTipo_documento/RollBack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <soap:operation soapAction="http://tempuri.org/IserviceTipo_documento/Copy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTipo_documentoAll">
      <soap:operation soapAction="http://tempuri.org/IserviceTipo_documento/GetTipo_documentoAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceTipo_documento">
    <wsdl:port name="BasicHttpBinding_IserviceTipo_documento" binding="tns:BasicHttpBinding_IserviceTipo_documento">
      <soap:address location="http://192.168.9.33:8080/wcf/serviceTipo_documento.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>