Comum/HLP.Comum.ViewModel/Service References/wcf_Funcionario/wcf_Funcionario2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8081/wcf/wcf_Funcionario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
  <xs:element name="getFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFuncionario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="getFuncionarioResult" nillable="true" type="q1:FuncionarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="objFuncionario" nillable="true" type="q2:FuncionarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="saveFuncionarioResult" nillable="true" type="q3:FuncionarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFuncionario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteFuncionarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="objFuncionario" nillable="true" type="q4:FuncionarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="copyFuncionarioResult" nillable="true" type="q5:FuncionarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>