HLP.Entries.Services/Service References/wcf_Juros/wcf_Juros4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Juros.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" />
  <xs:complexType name="JurosModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" base="q1:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="idJuros" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="nCarencia" type="xs:int" />
          <xs:element minOccurs="0" name="nQuantidadeDiasMes" type="xs:int" />
          <xs:element minOccurs="0" name="pJuros" type="xs:decimal" />
          <xs:element minOccurs="0" name="stDiaMes" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="xDescricao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xNome" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JurosModel" nillable="true" type="tns:JurosModel" />
</xs:schema>