ViewModel/HLP.Entries.ViewModel/Service References/depositoService/serviceDeposito1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceDeposito.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
  <xs:element name="getDeposito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDeposito" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepositoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="getDepositoResult" nillable="true" type="q1:DepositoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveDeposito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="objDeposito" nillable="true" type="q2:DepositoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveDepositoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveDepositoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteDeposito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDeposito" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteDepositoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteDepositoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyDeposito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDeposito" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyDepositoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="copyDepositoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>