ViewModel/HLP.Entries.ViewModel/Service References/depositoService/serviceDeposito.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceDeposito" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceDeposito.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceDeposito.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceDeposito.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceDeposito.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceDeposito.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceDeposito.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceDeposito_getDeposito_InputMessage">
    <wsdl:part name="parameters" element="tns:getDeposito" />
  </wsdl:message>
  <wsdl:message name="IserviceDeposito_getDeposito_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDepositoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceDeposito_saveDeposito_InputMessage">
    <wsdl:part name="parameters" element="tns:saveDeposito" />
  </wsdl:message>
  <wsdl:message name="IserviceDeposito_saveDeposito_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveDepositoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceDeposito_deleteDeposito_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteDeposito" />
  </wsdl:message>
  <wsdl:message name="IserviceDeposito_deleteDeposito_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteDepositoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceDeposito_copyDeposito_InputMessage">
    <wsdl:part name="parameters" element="tns:copyDeposito" />
  </wsdl:message>
  <wsdl:message name="IserviceDeposito_copyDeposito_OutputMessage">
    <wsdl:part name="parameters" element="tns:copyDepositoResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceDeposito">
    <wsdl:operation name="getDeposito">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceDeposito/getDeposito" message="tns:IserviceDeposito_getDeposito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceDeposito/getDepositoResponse" message="tns:IserviceDeposito_getDeposito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveDeposito">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceDeposito/saveDeposito" message="tns:IserviceDeposito_saveDeposito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceDeposito/saveDepositoResponse" message="tns:IserviceDeposito_saveDeposito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteDeposito">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceDeposito/deleteDeposito" message="tns:IserviceDeposito_deleteDeposito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceDeposito/deleteDepositoResponse" message="tns:IserviceDeposito_deleteDeposito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="copyDeposito">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceDeposito/copyDeposito" message="tns:IserviceDeposito_copyDeposito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceDeposito/copyDepositoResponse" message="tns:IserviceDeposito_copyDeposito_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceDeposito" type="tns:IserviceDeposito">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDeposito">
      <soap:operation soapAction="http://tempuri.org/IserviceDeposito/getDeposito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveDeposito">
      <soap:operation soapAction="http://tempuri.org/IserviceDeposito/saveDeposito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDeposito">
      <soap:operation soapAction="http://tempuri.org/IserviceDeposito/deleteDeposito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copyDeposito">
      <soap:operation soapAction="http://tempuri.org/IserviceDeposito/copyDeposito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceDeposito">
    <wsdl:port name="BasicHttpBinding_IserviceDeposito" binding="tns:BasicHttpBinding_IserviceDeposito">
      <soap:address location="http://192.168.9.33:8080/wcf/serviceDeposito.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>