HLP.Entries.Services/Service References/wcf_Uf/wcf_Uf51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_Uf.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:complexType name="UFModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q1:modelComum">
        <xs:sequence>
          <xs:element minOccurs="0" name="cIbgeUf" type="xs:int" />
          <xs:element minOccurs="0" name="idRegiao" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idUF" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="xSiglaUf" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xUf" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UFModel" nillable="true" type="tns:UFModel" />
</xs:schema>