HLP.Comum.Services/Service References/wcf_ConnectionConfig/wcf_ConnectionConfig.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcf_ConnectionConfig" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_ConnectionConfig.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_ConnectionConfig.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_ConnectionConfig.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_ConnectionConfig.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iwcf_ConnectionConfig_GetServer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServer" />
  </wsdl:message>
  <wsdl:message name="Iwcf_ConnectionConfig_GetServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_ConnectionConfig_GetDatabases_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatabases" />
  </wsdl:message>
  <wsdl:message name="Iwcf_ConnectionConfig_GetDatabases_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatabasesResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_ConnectionConfig_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="Iwcf_ConnectionConfig_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:portType name="Iwcf_ConnectionConfig">
    <wsdl:operation name="GetServer">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_ConnectionConfig/GetServer" message="tns:Iwcf_ConnectionConfig_GetServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_ConnectionConfig/GetServerResponse" message="tns:Iwcf_ConnectionConfig_GetServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatabases">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_ConnectionConfig/GetDatabases" message="tns:Iwcf_ConnectionConfig_GetDatabases_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_ConnectionConfig/GetDatabasesResponse" message="tns:Iwcf_ConnectionConfig_GetDatabases_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_ConnectionConfig/TestConnection" message="tns:Iwcf_ConnectionConfig_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_ConnectionConfig/TestConnectionResponse" message="tns:Iwcf_ConnectionConfig_TestConnection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iwcf_ConnectionConfig" type="tns:Iwcf_ConnectionConfig">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServer">
      <soap:operation soapAction="http://tempuri.org/Iwcf_ConnectionConfig/GetServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatabases">
      <soap:operation soapAction="http://tempuri.org/Iwcf_ConnectionConfig/GetDatabases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/Iwcf_ConnectionConfig/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcf_ConnectionConfig">
    <wsdl:port name="BasicHttpBinding_Iwcf_ConnectionConfig" binding="tns:BasicHttpBinding_Iwcf_ConnectionConfig">
      <soap:address location="http://hlpsistemas.no-ip.org:8081/wcf/wcf_ConnectionConfig.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>