Comum/HLP.Comum.ViewModel/Service References/FillComboBoxService/serviceFillComboBox.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8081/wcf/serviceFillComboBox.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:element name="GetAllValuesToComboBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNameView" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sParameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllValuesToComboBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" minOccurs="0" name="GetAllValuesToComboBoxResult" nillable="true" type="q1:ArrayOfmodelToComboBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>