Comum/HLP.Comum.ViewModel/Service References/FillComboBoxService/serviceFillComboBox2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfmodelToComboBox">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="modelToComboBox" nillable="true" type="tns:modelToComboBox" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmodelToComboBox" nillable="true" type="tns:ArrayOfmodelToComboBox" />
  <xs:complexType name="modelToComboBox">
    <xs:sequence>
      <xs:element minOccurs="0" name="display" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="modelToComboBox" nillable="true" type="tns:modelToComboBox" />
</xs:schema>