HLP.Entries.Services/Service References/wcf_Localizacao/wcf_Localizacao.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.GestaoDeMateriais" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.GestaoDeMateriais" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_Localizacao.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:complexType name="LocalizacaoModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q1:modelComum">
        <xs:sequence>
          <xs:element minOccurs="0" name="idLocalizacao" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="xDescricao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xNome" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocalizacaoModel" nillable="true" type="tns:LocalizacaoModel" />
</xs:schema>