HLP.Sales.ViewModel/Service References/sales_OrcamentoService/serviceSales_Orcamento2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Sales.Model.Models.Comercial" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Sales.Model.Models.Comercial" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceSales_Orcamento.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceSales_Orcamento.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
  <xs:complexType name="Orcamento_ideModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q1:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="bCancelado" type="xs:boolean" />
          <xs:element minOccurs="0" name="bConfirmado" type="xs:boolean" />
          <xs:element minOccurs="0" name="bCriado" type="xs:boolean" />
          <xs:element minOccurs="0" name="bEnviado" type="xs:boolean" />
          <xs:element minOccurs="0" name="bPerdido" type="xs:boolean" />
          <xs:element minOccurs="0" name="bTodos" type="xs:boolean" />
          <xs:element minOccurs="0" name="cIdentificacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dAcompanhamento" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dConfirmacao" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dDataHora" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dDataRecebimentoSolicitado" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dDataRemessaSolicitada" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dVencimento" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="idCanalVenda" type="xs:int" />
          <xs:element minOccurs="0" name="idClienteFornecedor" type="xs:int" />
          <xs:element minOccurs="0" name="idCondicaoEntrega" type="xs:int" />
          <xs:element minOccurs="0" name="idCondicaoPagamento" type="xs:int" />
          <xs:element minOccurs="0" name="idContaContabil" type="xs:int" />
          <xs:element minOccurs="0" name="idContato" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idDeposito" type="xs:int" />
          <xs:element minOccurs="0" name="idDescontos" type="xs:int" />
          <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
          <xs:element minOccurs="0" name="idFuncionario" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idFuncionarioRepresentante" type="xs:int" />
          <xs:element minOccurs="0" name="idFuncionarioResponsavel" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idJuros" type="xs:int" />
          <xs:element minOccurs="0" name="idModosEntrega" type="xs:int" />
          <xs:element minOccurs="0" name="idMoeda" type="xs:int" />
          <xs:element minOccurs="0" name="idMotivo" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idMulta" type="xs:int" />
          <xs:element minOccurs="0" name="idOrcamento" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idOrcamentoOrigem" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idRamoAtividade" type="xs:int" />
          <xs:element minOccurs="0" name="idSite" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idTipoDocumento" type="xs:int" />
          <xs:element minOccurs="0" name="idTipoOrcamento" type="xs:int" />
          <xs:element minOccurs="0" name="idTransportador" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idUnidadeVenda" type="xs:int" />
          <xs:element minOccurs="0" name="lOrcamento_Item_Impostos" nillable="true" type="tns:ArrayOfOrcamento_Item_ImpostosModel" />
          <xs:element minOccurs="0" name="lOrcamento_Itens" nillable="true" type="tns:ArrayOfOrcamento_ItemModel" />
          <xs:element minOccurs="0" name="nPedidoCliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="orcamento_Total_Impostos" nillable="true" type="tns:Orcamento_Total_ImpostosModel" />
          <xs:element minOccurs="0" name="orcamento_retTransp" nillable="true" type="tns:Orcamento_retTranspModel" />
          <xs:element minOccurs="0" name="stConsumidorFinal" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stContribuinteIcms" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stDescPISCOFINSSuframa" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stOrcamento" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stSuframaOrcamento" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stWeb" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="xCidade" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xCotacaoComprasCliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xDepartamento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xNomeEntrega" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xObservacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xPedidoCliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xTelefone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xUf" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xVersaoOrcamento" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Orcamento_ideModel" nillable="true" type="tns:Orcamento_ideModel" />
  <xs:complexType name="ArrayOfOrcamento_Item_ImpostosModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Orcamento_Item_ImpostosModel" nillable="true" type="tns:Orcamento_Item_ImpostosModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrcamento_Item_ImpostosModel" nillable="true" type="tns:ArrayOfOrcamento_Item_ImpostosModel" />
  <xs:complexType name="Orcamento_Item_ImpostosModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q2:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="COFINS_nCoeficienteSubstituicaoTributaria" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="COFINS_pCOFINS" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="COFINS_stCompoeBaseCalculoSubstituicaoTributaria" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="COFINS_vBaseCalculo" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="COFINS_vCOFINS" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ICMS_pCargaTributariaMedia" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ICMS_pICMS" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ICMS_pIcmsInterno" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ICMS_pMvaSubstituicaoTributaria" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ICMS_pReduzBase" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ICMS_pReduzBaseSubstituicaoTributaria" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ICMS_pSubstituicaoTributaria" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ICMS_stCalculaIcms" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="ICMS_stCalculaSubstituicaoTributaria" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="ICMS_stCompoeBaseCalculo" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="ICMS_stCompoeBaseCalculoSubstituicaoTributaria" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="ICMS_stNaoReduzBase" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="ICMS_stOrigemMercadoria" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="ICMS_stReduzBaseCalculo" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="ICMS_vBaseCalculo" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ICMS_vBaseCalculoIcmsProprio" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ICMS_vBaseCalculoSubstituicaoTributaria" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ICMS_vBaseCalculoSubstituicaoTributariaRetido" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ICMS_vICMS" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ICMS_vIcmsProprio" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ICMS_vSubstituicaoTributaria" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ICMS_vSubstituicaoTributariaRetido" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IPI_pIPI" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IPI_stCalculaIpi" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="IPI_stCompoeBaseCalculo" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="IPI_vBaseCalculo" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IPI_vIPI" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ISS_pIss" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ISS_stCalculaIss" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="ISS_vBaseCalculo" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ISS_vIss" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="PIS_nCoeficienteSubstituicaoTributaria" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="PIS_pPIS" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="PIS_stCompoeBaseCalculoSubstituicaoTributaria" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="PIS_vBaseCalculo" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="PIS_vPIS" nillable="true" type="xs:decimal" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" minOccurs="0" name="enumstOrigem" type="q3:stOrigem" />
          <xs:element minOccurs="0" name="idCSTCofins" type="xs:int" />
          <xs:element minOccurs="0" name="idCSTIcms" type="xs:int" />
          <xs:element minOccurs="0" name="idCSTIpi" type="xs:int" />
          <xs:element minOccurs="0" name="idCSTIss" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idCSTPis" type="xs:int" />
          <xs:element minOccurs="0" name="idClassificacaoFiscal" type="xs:int" />
          <xs:element minOccurs="0" name="idCodigoIcmsPai" type="xs:int" />
          <xs:element minOccurs="0" name="idOrcamentoItem" type="xs:int" />
          <xs:element minOccurs="0" name="idOrcamentoTotalizadorImpostos" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="nItem" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="stCalculaPisCofins" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stCompoeBaseCalculoPisCofins" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stOrcamentoImpostos" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stRegimeTributacaoPisCofins" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="vFreteItem" type="xs:decimal" />
          <xs:element minOccurs="0" name="vOutrasDespesasItem" type="xs:decimal" />
          <xs:element minOccurs="0" name="vSeguroItem" type="xs:decimal" />
          <xs:element minOccurs="0" name="vTotalItem" type="xs:decimal" />
          <xs:element minOccurs="0" name="xNcm" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Orcamento_Item_ImpostosModel" nillable="true" type="tns:Orcamento_Item_ImpostosModel" />
  <xs:complexType name="ArrayOfOrcamento_ItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Orcamento_ItemModel" nillable="true" type="tns:Orcamento_ItemModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrcamento_ItemModel" nillable="true" type="tns:ArrayOfOrcamento_ItemModel" />
  <xs:complexType name="Orcamento_ItemModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q4:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="bPermitePorcentagem" type="xs:boolean" />
          <xs:element minOccurs="0" name="bXComercialEnabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="dConfirmacaoItem" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dPrevisaoEntrega" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="idCfop" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idDeposito" type="xs:int" />
          <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
          <xs:element minOccurs="0" name="idFuncionarioRepresentante" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idListaPrecoPai" type="xs:int" />
          <xs:element minOccurs="0" name="idMotivo" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idOrcamento" type="xs:int" />
          <xs:element minOccurs="0" name="idOrcamentoItem" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idProduto" type="xs:int" />
          <xs:element minOccurs="0" name="idSite" type="xs:int" />
          <xs:element minOccurs="0" name="idTipoOperacao" type="xs:int" />
          <xs:element minOccurs="0" name="idUnidadeMedida" type="xs:int" />
          <xs:element minOccurs="0" name="lTipoOperacao" nillable="true" type="q4:ArrayOfmodelToComboBox" />
          <xs:element minOccurs="0" name="lUnMedida" nillable="true" type="q4:ArrayOfmodelToComboBox" />
          <xs:element minOccurs="0" name="nItem" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="nItemCliente" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="nPedidoClienteItem" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nPesoBruto" type="xs:decimal" />
          <xs:element minOccurs="0" name="nPesoLiquido" type="xs:decimal" />
          <xs:element minOccurs="0" name="objImposto" nillable="true" type="tns:Orcamento_Item_ImpostosModel" />
          <xs:element minOccurs="0" name="pComissao" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="pDesconto" type="xs:decimal" />
          <xs:element minOccurs="0" name="qProduto" type="xs:decimal" />
          <xs:element minOccurs="0" name="stConsumidorFinal" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stOrcamentoItem" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stServico" type="xs:boolean" />
          <xs:element minOccurs="0" name="vDesconto" type="xs:decimal" />
          <xs:element minOccurs="0" name="vDescontoSuframa" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vFreteItem" type="xs:decimal" />
          <xs:element minOccurs="0" name="vOutrasDespesasItem" type="xs:decimal" />
          <xs:element minOccurs="0" name="vSegurosItem" type="xs:decimal" />
          <xs:element minOccurs="0" name="vTotalItem" type="xs:decimal" />
          <xs:element minOccurs="0" name="vTotalSemDescontoItem" type="xs:decimal" />
          <xs:element minOccurs="0" name="vVenda" type="xs:decimal" />
          <xs:element minOccurs="0" name="vVendaSemDesconto" type="xs:decimal" />
          <xs:element minOccurs="0" name="xCodigoProdutoCliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xComercial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xObservacaoItem" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xPedidoCliente" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Orcamento_ItemModel" nillable="true" type="tns:Orcamento_ItemModel" />
  <xs:complexType name="Orcamento_Total_ImpostosModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q5:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="idOrcamento" type="xs:int" />
          <xs:element minOccurs="0" name="idOrcamentoTotalImpostos" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="pDescontoTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="stFrete" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stRateioFrete" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="vBaseCalculoCofinsTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="vBaseCalculoICmsSubstituicaoTributariaTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="vBaseCalculoIcmsProprioTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="vBaseCalculoIcmsTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="vBaseCalculoIpiTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="vBaseCalculoIssTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="vBaseCalculoPisTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="vCOFINSTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="vDescontoSuframaTotal" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vDescontoTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="vFreteTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="vICMSTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="vIITotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="vIPITotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="vIcmsProprioTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="vIcmsSubstituicaoTributariaTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="vIssTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="vOutrasDespesasTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="vPISTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="vProdutoTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="vSeguroTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="vServicoTotal" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vTotal" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Orcamento_Total_ImpostosModel" nillable="true" type="tns:Orcamento_Total_ImpostosModel" />
  <xs:complexType name="Orcamento_retTranspModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q6:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CFOP" type="xs:int" />
          <xs:element minOccurs="0" name="cMunFG" type="xs:int" />
          <xs:element minOccurs="0" name="idOrcamento" type="xs:int" />
          <xs:element minOccurs="0" name="idRedespacho" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idRetTransp" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idTransportador" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="pICMSRet" type="xs:decimal" />
          <xs:element minOccurs="0" name="stFrete" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stTransporte" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="vBCRet" type="xs:decimal" />
          <xs:element minOccurs="0" name="vICMSRet" type="xs:decimal" />
          <xs:element minOccurs="0" name="vPesoBruto" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vPesoLiquido" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vServ" type="xs:decimal" />
          <xs:element minOccurs="0" name="vVolume" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="xEspecieVolumeNf" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xMarcaVolumeNf" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Orcamento_retTranspModel" nillable="true" type="tns:Orcamento_retTranspModel" />
</xs:schema>