ViewModel/HLP.Entries.ViewModel/Service References/condicaoEntregaService/serviceCondicao_Entrega.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceCondicao_Entrega" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCondicao_Entrega.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCondicao_Entrega.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCondicao_Entrega.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Transportes" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCondicao_Entrega.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCondicao_Entrega.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCondicao_Entrega.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceCondicao_Entrega_getCondicao_entrega_InputMessage">
    <wsdl:part name="parameters" element="tns:getCondicao_entrega" />
  </wsdl:message>
  <wsdl:message name="IserviceCondicao_Entrega_getCondicao_entrega_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCondicao_entregaResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCondicao_Entrega_saveCondicao_entrega_InputMessage">
    <wsdl:part name="parameters" element="tns:saveCondicao_entrega" />
  </wsdl:message>
  <wsdl:message name="IserviceCondicao_Entrega_saveCondicao_entrega_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveCondicao_entregaResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCondicao_Entrega_delCondicao_entrega_InputMessage">
    <wsdl:part name="parameters" element="tns:delCondicao_entrega" />
  </wsdl:message>
  <wsdl:message name="IserviceCondicao_Entrega_delCondicao_entrega_OutputMessage">
    <wsdl:part name="parameters" element="tns:delCondicao_entregaResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCondicao_Entrega_copyCondicao_entrega_InputMessage">
    <wsdl:part name="parameters" element="tns:copyCondicao_entrega" />
  </wsdl:message>
  <wsdl:message name="IserviceCondicao_Entrega_copyCondicao_entrega_OutputMessage">
    <wsdl:part name="parameters" element="tns:copyCondicao_entregaResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceCondicao_Entrega">
    <wsdl:operation name="getCondicao_entrega">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCondicao_Entrega/getCondicao_entrega" message="tns:IserviceCondicao_Entrega_getCondicao_entrega_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCondicao_Entrega/getCondicao_entregaResponse" message="tns:IserviceCondicao_Entrega_getCondicao_entrega_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveCondicao_entrega">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCondicao_Entrega/saveCondicao_entrega" message="tns:IserviceCondicao_Entrega_saveCondicao_entrega_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCondicao_Entrega/saveCondicao_entregaResponse" message="tns:IserviceCondicao_Entrega_saveCondicao_entrega_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delCondicao_entrega">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCondicao_Entrega/delCondicao_entrega" message="tns:IserviceCondicao_Entrega_delCondicao_entrega_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCondicao_Entrega/delCondicao_entregaResponse" message="tns:IserviceCondicao_Entrega_delCondicao_entrega_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="copyCondicao_entrega">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCondicao_Entrega/copyCondicao_entrega" message="tns:IserviceCondicao_Entrega_copyCondicao_entrega_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCondicao_Entrega/copyCondicao_entregaResponse" message="tns:IserviceCondicao_Entrega_copyCondicao_entrega_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceCondicao_Entrega" type="tns:IserviceCondicao_Entrega">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCondicao_entrega">
      <soap:operation soapAction="http://tempuri.org/IserviceCondicao_Entrega/getCondicao_entrega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveCondicao_entrega">
      <soap:operation soapAction="http://tempuri.org/IserviceCondicao_Entrega/saveCondicao_entrega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delCondicao_entrega">
      <soap:operation soapAction="http://tempuri.org/IserviceCondicao_Entrega/delCondicao_entrega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copyCondicao_entrega">
      <soap:operation soapAction="http://tempuri.org/IserviceCondicao_Entrega/copyCondicao_entrega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceCondicao_Entrega">
    <wsdl:port name="BasicHttpBinding_IserviceCondicao_Entrega" binding="tns:BasicHttpBinding_IserviceCondicao_Entrega">
      <soap:address location="http://192.168.9.33:8080/wcf/serviceCondicao_Entrega.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>