ViewModel/HLP.Entries.ViewModel/Service References/condicaoEntregaService/serviceCondicao_Entrega5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceCondicao_Entrega.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Transportes" />
  <xs:element name="getCondicao_entrega">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCondicao_entrega" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCondicao_entregaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Transportes" minOccurs="0" name="getCondicao_entregaResult" nillable="true" type="q1:Condicoes_entregaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveCondicao_entrega">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Transportes" minOccurs="0" name="objCondicao_entrega" nillable="true" type="q2:Condicoes_entregaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveCondicao_entregaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveCondicao_entregaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delCondicao_entrega">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCondicao_entrega" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delCondicao_entregaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delCondicao_entregaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyCondicao_entrega">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCondicao_entrega" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyCondicao_entregaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="copyCondicao_entregaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>