HLP.Entries.Services/Service References/wcf_PesquisaRapida/wcf_PesquisaRapida31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_PesquisaRapida.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetValorDisplay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_TableView" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_Items" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="_FieldPesquisa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="_iValorPesquisa" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValorDisplayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetValorDisplayResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>