ViewModel/HLP.Entries.ViewModel/Service References/decisaoService/serviceDecisao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceDecisao" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceDecisao.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceDecisao.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceDecisao.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceDecisao.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceDecisao.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceDecisao.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceDecisao_getDecisao_InputMessage">
    <wsdl:part name="parameters" element="tns:getDecisao" />
  </wsdl:message>
  <wsdl:message name="IserviceDecisao_getDecisao_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDecisaoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceDecisao_saveDecisao_InputMessage">
    <wsdl:part name="parameters" element="tns:saveDecisao" />
  </wsdl:message>
  <wsdl:message name="IserviceDecisao_saveDecisao_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveDecisaoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceDecisao_deleteDecisao_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteDecisao" />
  </wsdl:message>
  <wsdl:message name="IserviceDecisao_deleteDecisao_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteDecisaoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceDecisao_copyDecisao_InputMessage">
    <wsdl:part name="parameters" element="tns:copyDecisao" />
  </wsdl:message>
  <wsdl:message name="IserviceDecisao_copyDecisao_OutputMessage">
    <wsdl:part name="parameters" element="tns:copyDecisaoResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceDecisao">
    <wsdl:operation name="getDecisao">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceDecisao/getDecisao" message="tns:IserviceDecisao_getDecisao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceDecisao/getDecisaoResponse" message="tns:IserviceDecisao_getDecisao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveDecisao">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceDecisao/saveDecisao" message="tns:IserviceDecisao_saveDecisao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceDecisao/saveDecisaoResponse" message="tns:IserviceDecisao_saveDecisao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteDecisao">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceDecisao/deleteDecisao" message="tns:IserviceDecisao_deleteDecisao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceDecisao/deleteDecisaoResponse" message="tns:IserviceDecisao_deleteDecisao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="copyDecisao">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceDecisao/copyDecisao" message="tns:IserviceDecisao_copyDecisao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceDecisao/copyDecisaoResponse" message="tns:IserviceDecisao_copyDecisao_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceDecisao" type="tns:IserviceDecisao">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDecisao">
      <soap:operation soapAction="http://tempuri.org/IserviceDecisao/getDecisao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveDecisao">
      <soap:operation soapAction="http://tempuri.org/IserviceDecisao/saveDecisao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDecisao">
      <soap:operation soapAction="http://tempuri.org/IserviceDecisao/deleteDecisao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copyDecisao">
      <soap:operation soapAction="http://tempuri.org/IserviceDecisao/copyDecisao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceDecisao">
    <wsdl:port name="BasicHttpBinding_IserviceDecisao" binding="tns:BasicHttpBinding_IserviceDecisao">
      <soap:address location="http://192.168.9.33:8080/wcf/serviceDecisao.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>