ViewModel/HLP.Entries.ViewModel/Service References/decisaoService/serviceDecisao1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceDecisao.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
  <xs:element name="getDecisao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDecisao" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDecisaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="getDecisaoResult" nillable="true" type="q1:DecisaoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveDecisao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="objDecisao" nillable="true" type="q2:DecisaoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveDecisaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveDecisaoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteDecisao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDecisao" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteDecisaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteDecisaoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyDecisao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDecisao" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyDecisaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="copyDecisaoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>