HLP.Entries.Services/Service References/wcf_CondicaoEntrega/wcf_CondicaoEntrega1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Transportes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Transportes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_CondicaoEntrega.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" />
  <xs:complexType name="Condicoes_entregaModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" base="q1:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="idCondicaoEntrega" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="nIntrastat" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="stAplicarMinGratis" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stEnderecoImpostoSobreVendas" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="vMinimoGratis" type="xs:decimal" />
          <xs:element minOccurs="0" name="xCondicaoEntrega" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xDescricao" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Condicoes_entregaModel" nillable="true" type="tns:Condicoes_entregaModel" />
</xs:schema>