HLP.Comum.Facade/Service References/Carga_trib_media_st_icmsServico/serviceCarga_trib_media_st_icms.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceCarga_trib_media_st_icms" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceCarga_trib_media_st_icms.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceCarga_trib_media_st_icms.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceCarga_trib_media_st_icms.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Fiscal" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceCarga_trib_media_st_icms.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceCarga_trib_media_st_icms.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceCarga_trib_media_st_icms.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceCarga_trib_media_st_icms_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IserviceCarga_trib_media_st_icms_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCarga_trib_media_st_icms_GetObjeto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjeto" />
  </wsdl:message>
  <wsdl:message name="IserviceCarga_trib_media_st_icms_GetObjeto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjetoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCarga_trib_media_st_icms_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IserviceCarga_trib_media_st_icms_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCarga_trib_media_st_icms_Copy_InputMessage">
    <wsdl:part name="parameters" element="tns:Copy" />
  </wsdl:message>
  <wsdl:message name="IserviceCarga_trib_media_st_icms_Copy_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCarga_trib_media_st_icms_GetAllCarga_trib_media_st_icms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCarga_trib_media_st_icms" />
  </wsdl:message>
  <wsdl:message name="IserviceCarga_trib_media_st_icms_GetAllCarga_trib_media_st_icms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCarga_trib_media_st_icmsResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceCarga_trib_media_st_icms_GetCarga_trib_media_st_icmsByUf_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarga_trib_media_st_icmsByUf" />
  </wsdl:message>
  <wsdl:message name="IserviceCarga_trib_media_st_icms_GetCarga_trib_media_st_icmsByUf_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarga_trib_media_st_icmsByUfResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceCarga_trib_media_st_icms">
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCarga_trib_media_st_icms/Save" message="tns:IserviceCarga_trib_media_st_icms_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCarga_trib_media_st_icms/SaveResponse" message="tns:IserviceCarga_trib_media_st_icms_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjeto">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCarga_trib_media_st_icms/GetObjeto" message="tns:IserviceCarga_trib_media_st_icms_GetObjeto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCarga_trib_media_st_icms/GetObjetoResponse" message="tns:IserviceCarga_trib_media_st_icms_GetObjeto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCarga_trib_media_st_icms/Delete" message="tns:IserviceCarga_trib_media_st_icms_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCarga_trib_media_st_icms/DeleteResponse" message="tns:IserviceCarga_trib_media_st_icms_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCarga_trib_media_st_icms/Copy" message="tns:IserviceCarga_trib_media_st_icms_Copy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCarga_trib_media_st_icms/CopyResponse" message="tns:IserviceCarga_trib_media_st_icms_Copy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCarga_trib_media_st_icms">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCarga_trib_media_st_icms/GetAllCarga_trib_media_st_icms" message="tns:IserviceCarga_trib_media_st_icms_GetAllCarga_trib_media_st_icms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCarga_trib_media_st_icms/GetAllCarga_trib_media_st_icmsResponse" message="tns:IserviceCarga_trib_media_st_icms_GetAllCarga_trib_media_st_icms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarga_trib_media_st_icmsByUf">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceCarga_trib_media_st_icms/GetCarga_trib_media_st_icmsByUf" message="tns:IserviceCarga_trib_media_st_icms_GetCarga_trib_media_st_icmsByUf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceCarga_trib_media_st_icms/GetCarga_trib_media_st_icmsByUfResponse" message="tns:IserviceCarga_trib_media_st_icms_GetCarga_trib_media_st_icmsByUf_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceCarga_trib_media_st_icms" type="tns:IserviceCarga_trib_media_st_icms">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IserviceCarga_trib_media_st_icms/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjeto">
      <soap:operation soapAction="http://tempuri.org/IserviceCarga_trib_media_st_icms/GetObjeto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IserviceCarga_trib_media_st_icms/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <soap:operation soapAction="http://tempuri.org/IserviceCarga_trib_media_st_icms/Copy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCarga_trib_media_st_icms">
      <soap:operation soapAction="http://tempuri.org/IserviceCarga_trib_media_st_icms/GetAllCarga_trib_media_st_icms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarga_trib_media_st_icmsByUf">
      <soap:operation soapAction="http://tempuri.org/IserviceCarga_trib_media_st_icms/GetCarga_trib_media_st_icmsByUf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceCarga_trib_media_st_icms">
    <wsdl:port name="BasicHttpBinding_IserviceCarga_trib_media_st_icms" binding="tns:BasicHttpBinding_IserviceCarga_trib_media_st_icms">
      <soap:address location="http://192.168.9.33:8081/wcf/serviceCarga_trib_media_st_icms.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>