HLP.Comum.Facade/Service References/ufService/serviceUf.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceUf" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceUf.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceUf.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceUf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceUf.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceUf.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceUf.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceUf_getUf_InputMessage">
    <wsdl:part name="parameters" element="tns:getUf" />
  </wsdl:message>
  <wsdl:message name="IserviceUf_getUf_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUfResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceUf_saveUf_InputMessage">
    <wsdl:part name="parameters" element="tns:saveUf" />
  </wsdl:message>
  <wsdl:message name="IserviceUf_saveUf_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveUfResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceUf_deleteUf_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteUf" />
  </wsdl:message>
  <wsdl:message name="IserviceUf_deleteUf_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteUfResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceUf_copyUf_InputMessage">
    <wsdl:part name="parameters" element="tns:copyUf" />
  </wsdl:message>
  <wsdl:message name="IserviceUf_copyUf_OutputMessage">
    <wsdl:part name="parameters" element="tns:copyUfResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceUf">
    <wsdl:operation name="getUf">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceUf/getUf" message="tns:IserviceUf_getUf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceUf/getUfResponse" message="tns:IserviceUf_getUf_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveUf">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceUf/saveUf" message="tns:IserviceUf_saveUf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceUf/saveUfResponse" message="tns:IserviceUf_saveUf_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteUf">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceUf/deleteUf" message="tns:IserviceUf_deleteUf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceUf/deleteUfResponse" message="tns:IserviceUf_deleteUf_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="copyUf">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceUf/copyUf" message="tns:IserviceUf_copyUf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceUf/copyUfResponse" message="tns:IserviceUf_copyUf_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceUf" type="tns:IserviceUf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getUf">
      <soap:operation soapAction="http://tempuri.org/IserviceUf/getUf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveUf">
      <soap:operation soapAction="http://tempuri.org/IserviceUf/saveUf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUf">
      <soap:operation soapAction="http://tempuri.org/IserviceUf/deleteUf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copyUf">
      <soap:operation soapAction="http://tempuri.org/IserviceUf/copyUf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceUf">
    <wsdl:port name="BasicHttpBinding_IserviceUf" binding="tns:BasicHttpBinding_IserviceUf">
      <soap:address location="http://192.168.9.33:8081/wcf/serviceUf.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>