HLP.Entries.Services/Service References/wcf_ContaBancaria/wcf_ContaBancaria62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Financeiro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Financeiro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_ContaBancaria.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:complexType name="Conta_bancariaModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q1:modelComum">
        <xs:sequence>
          <xs:element minOccurs="0" name="idAgencia" type="xs:int" />
          <xs:element minOccurs="0" name="idBanco" type="xs:int" />
          <xs:element minOccurs="0" name="idContaBancaria" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
          <xs:element minOccurs="0" name="nCarteira" type="xs:int" />
          <xs:element minOccurs="0" name="nConvenio" type="xs:int" />
          <xs:element minOccurs="0" name="nDiasProtesto" type="xs:int" />
          <xs:element minOccurs="0" name="nDigitosConvenio" type="xs:int" />
          <xs:element minOccurs="0" name="nRemessaHomeBanking" type="xs:int" />
          <xs:element minOccurs="0" name="nSequenciaNossoNumero" type="xs:int" />
          <xs:element minOccurs="0" name="nVariacaoCarteira" type="xs:int" />
          <xs:element minOccurs="0" name="stAceite" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stBloquete" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stConta" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stZeraNossoNumero" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="xCNPJouCPFTitular" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xCodigoEmpresaHomeBanking" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xDescricao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xEspecie" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xNumeroConta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xNumeroContaHomeBanking" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xTitular" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Conta_bancariaModel" nillable="true" type="tns:Conta_bancariaModel" />
</xs:schema>