ViewModel/HLP.Entries.ViewModel/Service References/unidadeMedidaService/serviceUnidadeMedida.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceUnidadeMedida" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceUnidadeMedida.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceUnidadeMedida.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceUnidadeMedida.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceUnidadeMedida.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceUnidadeMedida_getUnidade_medida_InputMessage">
    <wsdl:part name="parameters" element="tns:getUnidade_medida" />
  </wsdl:message>
  <wsdl:message name="IserviceUnidadeMedida_getUnidade_medida_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUnidade_medidaResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceUnidadeMedida_saveUnidade_medida_InputMessage">
    <wsdl:part name="parameters" element="tns:saveUnidade_medida" />
  </wsdl:message>
  <wsdl:message name="IserviceUnidadeMedida_saveUnidade_medida_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveUnidade_medidaResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceUnidadeMedida_deleteUnidade_medida_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteUnidade_medida" />
  </wsdl:message>
  <wsdl:message name="IserviceUnidadeMedida_deleteUnidade_medida_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteUnidade_medidaResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceUnidadeMedida">
    <wsdl:operation name="getUnidade_medida">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceUnidadeMedida/getUnidade_medida" message="tns:IserviceUnidadeMedida_getUnidade_medida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceUnidadeMedida/getUnidade_medidaResponse" message="tns:IserviceUnidadeMedida_getUnidade_medida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveUnidade_medida">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceUnidadeMedida/saveUnidade_medida" message="tns:IserviceUnidadeMedida_saveUnidade_medida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceUnidadeMedida/saveUnidade_medidaResponse" message="tns:IserviceUnidadeMedida_saveUnidade_medida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteUnidade_medida">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceUnidadeMedida/deleteUnidade_medida" message="tns:IserviceUnidadeMedida_deleteUnidade_medida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceUnidadeMedida/deleteUnidade_medidaResponse" message="tns:IserviceUnidadeMedida_deleteUnidade_medida_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceUnidadeMedida" type="tns:IserviceUnidadeMedida">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getUnidade_medida">
      <soap:operation soapAction="http://tempuri.org/IserviceUnidadeMedida/getUnidade_medida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveUnidade_medida">
      <soap:operation soapAction="http://tempuri.org/IserviceUnidadeMedida/saveUnidade_medida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUnidade_medida">
      <soap:operation soapAction="http://tempuri.org/IserviceUnidadeMedida/deleteUnidade_medida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceUnidadeMedida">
    <wsdl:port name="BasicHttpBinding_IserviceUnidadeMedida" binding="tns:BasicHttpBinding_IserviceUnidadeMedida">
      <soap:address location="http://192.168.9.33:8080/wcf/serviceUnidadeMedida.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>