ViewModel/HLP.Entries.ViewModel/Service References/unidadeMedidaService/serviceUnidadeMedida1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceUnidadeMedida.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
  <xs:element name="getUnidade_medida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUnidadeMedida" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUnidade_medidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="getUnidade_medidaResult" nillable="true" type="q1:Unidade_medidaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveUnidade_medida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="objUnidadeMedida" nillable="true" type="q2:Unidade_medidaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveUnidade_medidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveUnidade_medidaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUnidade_medida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUnidadeMedida" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUnidade_medidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteUnidade_medidaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>