ViewModel/HLP.Entries.ViewModel/Service References/setrService/serviceSetor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceSetor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceSetor.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceSetor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceSetor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.RecursosHumanos" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceSetor.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceSetor.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceSetor.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceSetor_getSetor_InputMessage">
    <wsdl:part name="parameters" element="tns:getSetor" />
  </wsdl:message>
  <wsdl:message name="IserviceSetor_getSetor_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSetorResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceSetor_saveSetor_InputMessage">
    <wsdl:part name="parameters" element="tns:saveSetor" />
  </wsdl:message>
  <wsdl:message name="IserviceSetor_saveSetor_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveSetorResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceSetor_deleteSetor_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteSetor" />
  </wsdl:message>
  <wsdl:message name="IserviceSetor_deleteSetor_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteSetorResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceSetor_copySetor_InputMessage">
    <wsdl:part name="parameters" element="tns:copySetor" />
  </wsdl:message>
  <wsdl:message name="IserviceSetor_copySetor_OutputMessage">
    <wsdl:part name="parameters" element="tns:copySetorResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceSetor">
    <wsdl:operation name="getSetor">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceSetor/getSetor" message="tns:IserviceSetor_getSetor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceSetor/getSetorResponse" message="tns:IserviceSetor_getSetor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveSetor">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceSetor/saveSetor" message="tns:IserviceSetor_saveSetor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceSetor/saveSetorResponse" message="tns:IserviceSetor_saveSetor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteSetor">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceSetor/deleteSetor" message="tns:IserviceSetor_deleteSetor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceSetor/deleteSetorResponse" message="tns:IserviceSetor_deleteSetor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="copySetor">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceSetor/copySetor" message="tns:IserviceSetor_copySetor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceSetor/copySetorResponse" message="tns:IserviceSetor_copySetor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceSetor" type="tns:IserviceSetor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSetor">
      <soap:operation soapAction="http://tempuri.org/IserviceSetor/getSetor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveSetor">
      <soap:operation soapAction="http://tempuri.org/IserviceSetor/saveSetor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSetor">
      <soap:operation soapAction="http://tempuri.org/IserviceSetor/deleteSetor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copySetor">
      <soap:operation soapAction="http://tempuri.org/IserviceSetor/copySetor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceSetor">
    <wsdl:port name="BasicHttpBinding_IserviceSetor" binding="tns:BasicHttpBinding_IserviceSetor">
      <soap:address location="http://192.168.9.33:8081/wcf/serviceSetor.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>