ViewModel/HLP.Entries.ViewModel/Service References/setrService/serviceSetor1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceSetor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.RecursosHumanos" />
  <xs:element name="getSetor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSetor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSetorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.RecursosHumanos" minOccurs="0" name="getSetorResult" nillable="true" type="q1:SetorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveSetor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.RecursosHumanos" minOccurs="0" name="objSetor" nillable="true" type="q2:SetorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveSetorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveSetorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSetor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSetor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSetorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteSetorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copySetor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSetor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copySetorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="copySetorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>