ViewModel/HLP.Entries.ViewModel/Service References/Empresa_ParametrosService/serviceEmpresaParametros6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Parametros" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Parametros" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8081/wcf/serviceEmpresaParametros.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:complexType name="Parametro_ComercialModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q1:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
          <xs:element minOccurs="0" name="idMoeda" type="xs:int" />
          <xs:element minOccurs="0" name="idParametroComercial" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="nQuantidadeDiasOrcamento" type="xs:int" />
          <xs:element minOccurs="0" name="stDesconto" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stDescontoPor" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stObrigaAnaliseFinanceiraFaturamento" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stObrigaAnaliseFinanceiraOrcamento" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stObrigaAnaliseFinanceiraPedidoVenda" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stObrigaAprovacaoPedidoVenda" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stObrigaCreditoAprovado" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stObrigaUsoListaPreco" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stOrcamentoProjeto" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stOrigemListaPreco" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stRateioFrete" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stUtilizaVendaCasada" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stUtilizaVendaKitMaterial" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="xMaskCentroCusto" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Parametro_ComercialModel" nillable="true" type="tns:Parametro_ComercialModel" />
  <xs:complexType name="Parametro_ComprasModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q2:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
          <xs:element minOccurs="0" name="idParametro_Compras" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="stAprovacaoCotacaoCompras" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stAprovacaoPedidoCompras" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stAprovacaoRequisicao" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stIgnoraSaldoRequisicao" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stLeadTimeCotacao" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stLeadTimePedidoCompra" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="vAprovacaoAutomaticaPedidoCompras" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Parametro_ComprasModel" nillable="true" type="tns:Parametro_ComprasModel" />
  <xs:complexType name="Parametro_CustosModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q3:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
          <xs:element minOccurs="0" name="idParametroCustos" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idTipoOperacao" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="stAtualizaValorCusto" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stAtualizaValorVenda" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stCompoeBaseCalculoCustoOperacional" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stCustoComposicao" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stCustoDefault" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stCustoMedio" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stValorVenda" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="st_Markup" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="xDiasTrabalhadasSemana" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xHorasTrabalhadasDia" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Parametro_CustosModel" nillable="true" type="tns:Parametro_CustosModel" />
  <xs:complexType name="Parametro_EstoqueModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q4:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
          <xs:element minOccurs="0" name="idParametroEstoque" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="stEstoqueMaximo" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stEstoqueMinimo" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stGradeEstoque" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stMediaConsumo" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stRastreabilidadeMaterial" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stRastreabilidadeProdutoAcabado" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stVendasGera" type="xs:unsignedByte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Parametro_EstoqueModel" nillable="true" type="tns:Parametro_EstoqueModel" />
  <xs:complexType name="Parametro_FinanceiroModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q5:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
          <xs:element minOccurs="0" name="idParametroFinanceiro" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="stBloqueiaClientePosCartaCobranca" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stCreditoAprovado" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stPagaComissaoPor" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stPedidoCompraGeraPrevisao" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stPedidoVendaGeraPrevisao" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="xMaskClasseFinanceira" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Parametro_FinanceiroModel" nillable="true" type="tns:Parametro_FinanceiroModel" />
  <xs:complexType name="Parametro_FiscalModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q6:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
          <xs:element minOccurs="0" name="idObservacaoMsgCreditoSuperSimples" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idObservacaoMsgSuperSimples" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idParametroFiscal" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="nItensNfProduto" type="xs:int" />
          <xs:element minOccurs="0" name="nItensNfServico" type="xs:int" />
          <xs:element minOccurs="0" name="pAliquotaCSLL" type="xs:decimal" />
          <xs:element minOccurs="0" name="pCOFINS" type="xs:decimal" />
          <xs:element minOccurs="0" name="pCOFINSss" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="pCSLLss" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="pICMSss" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="pINSSss" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="pIRRFss" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="pISSss" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="pPIS" type="xs:decimal" />
          <xs:element minOccurs="0" name="pPISss" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="stAmbienteNfeProdutos" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stAmbienteNfeServicos" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stCRT" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stCooperativaAgricola" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stDestacaCSLLnfServico" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stDestacaINSSnfServico" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stDestacaIRRFnfServico" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stDestacaISSnfServico" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stDestacaPISCOFINSnfServico" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stIcmsSubstDif" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stImprimeCodigoNf" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stImprimeMsgCreditoIcmsSs" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stImprimeMsgPadraoSs" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stImprimeMsgSuframaNf" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stProdutorRural" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stRegimeApuracaoIPI" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stRegimeApuracaoIRPJ" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stRegimeApuracaoPISCOFINS" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stRegimeTributacaoPISCOFINS" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stSuperSimples" type="xs:unsignedByte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Parametro_FiscalModel" nillable="true" type="tns:Parametro_FiscalModel" />
  <xs:complexType name="Parametro_Ordem_ProducaoModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q7:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
          <xs:element minOccurs="0" name="idParametroOrdemProducao" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idTipoOperacaoparaOPBenificiamento" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idTipoOperacaoparaOPProduto" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idTipoOperacaoparaOPServico" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="stFechaOPSaldoAproduzir" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stGeraOPFilhas" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stProducaoGera" type="xs:unsignedByte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Parametro_Ordem_ProducaoModel" nillable="true" type="tns:Parametro_Ordem_ProducaoModel" />
</xs:schema>