ViewModel/HLP.Entries.ViewModel/Service References/Empresa_ParametrosService/serviceEmpresaParametros3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceEmpresaParametros.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Parametros" />
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceEmpresaParametros.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:complexType name="EmpresaParametrosModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q1:modelBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Parametros" minOccurs="0" name="ObjParametro_ComercialModel" nillable="true" type="q2:Parametro_ComercialModel" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Parametros" minOccurs="0" name="ObjParametro_ComprasModel" nillable="true" type="q3:Parametro_ComprasModel" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Parametros" minOccurs="0" name="ObjParametro_CustosModel" nillable="true" type="q4:Parametro_CustosModel" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Parametros" minOccurs="0" name="ObjParametro_EstoqueModel" nillable="true" type="q5:Parametro_EstoqueModel" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Parametros" minOccurs="0" name="ObjParametro_FinanceiroModel" nillable="true" type="q6:Parametro_FinanceiroModel" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Parametros" minOccurs="0" name="ObjParametro_FiscalModel" nillable="true" type="q7:Parametro_FiscalModel" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Parametros" minOccurs="0" name="ObjParametro_Ordem_ProducaoModel" nillable="true" type="q8:Parametro_Ordem_ProducaoModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmpresaParametrosModel" nillable="true" type="tns:EmpresaParametrosModel" />
</xs:schema>