HLP.Entries.Services/Service References/wcf_Rota/wcf_Rota52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Transportes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Transportes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_Rota.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:complexType name="RotaModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q1:modelComum">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ativo" type="xs:boolean" />
          <xs:element minOccurs="0" name="idListaPrecoPai" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idRota" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="lRota_Praca" nillable="true" type="tns:ArrayOfRota_pracaModel" />
          <xs:element minOccurs="0" name="xRota" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RotaModel" nillable="true" type="tns:RotaModel" />
  <xs:complexType name="ArrayOfRota_pracaModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rota_pracaModel" nillable="true" type="tns:Rota_pracaModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRota_pracaModel" nillable="true" type="tns:ArrayOfRota_pracaModel" />
  <xs:complexType name="Rota_pracaModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q2:modelComum">
        <xs:sequence>
          <xs:element minOccurs="0" name="idCidade" type="xs:int" />
          <xs:element minOccurs="0" name="idRota" type="xs:int" />
          <xs:element minOccurs="0" name="idRotaPraca" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="nDistanciaProximaCidade" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="nOrdem" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Rota_pracaModel" nillable="true" type="tns:Rota_pracaModel" />
</xs:schema>