ViewModel/HLP.Entries.ViewModel/Service References/contato_Service/serviceContato5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8081/wcf/serviceContato.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.9.33:8081/wcf/serviceContato.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:complexType name="ContatoModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q1:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ativo" type="xs:boolean" />
          <xs:element minOccurs="0" name="XhttpPessoal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_idContato" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="dAniversario" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dAniversarioTempoServico" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dDisponivelAte" type="ser:duration" />
          <xs:element minOccurs="0" name="dDisponivelaPartir" type="ser:duration" />
          <xs:element minOccurs="0" name="idContato" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idContatoGerente" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idDecisao" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idFidelidade" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idFuncionario" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idPersonalidade" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="lContato_EnderecoModel" nillable="true" type="tns:ArrayOfContato_EnderecoModel" />
          <xs:element minOccurs="0" name="stEstadoCivil" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stMalaDireta" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stSensibilidade" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stSexo" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stVip" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="xApelido" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xCPF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xCargo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xCelularComercial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xCelularResidencial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xConjuge" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xDepartamento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xEmailComercial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xEmailResidencial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xFaxComercial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xFilhos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xFuncao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xHobbies" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xMSNComercial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xMemorando" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xMsnResidencial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xNome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xPagerComercial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xProfissao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xRadioFoneComercial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xRadioFoneResidencial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xRamalComercial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xSkypeComercial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xSkypeResidencial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xTelefoneComercial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xTelefoneResidencial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xTitulo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xhttpComercial" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContatoModel" nillable="true" type="tns:ContatoModel" />
  <xs:complexType name="ArrayOfContato_EnderecoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contato_EnderecoModel" nillable="true" type="tns:Contato_EnderecoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContato_EnderecoModel" nillable="true" type="tns:ArrayOfContato_EnderecoModel" />
  <xs:complexType name="Contato_EnderecoModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q2:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="idCidade" type="xs:int" />
          <xs:element minOccurs="0" name="idContato" type="xs:int" />
          <xs:element minOccurs="0" name="idEndereco" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="nNumero" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="stLogradouro" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stPrincipal" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="stTipoEndereco" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="xBairro" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xCEP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xCaixaPostal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xComplemento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xEndereco" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xFusoHorario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xLatitude" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xLongitude" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xNome" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Contato_EnderecoModel" nillable="true" type="tns:Contato_EnderecoModel" />
  <xs:complexType name="ArrayOfContatoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContatoModel" nillable="true" type="tns:ContatoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContatoModel" nillable="true" type="tns:ArrayOfContatoModel" />
</xs:schema>