HLP.Entries.Services/Service References/wcf_Agencia/wcf_Agencia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcf_Agencia" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Agencia.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Agencia.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Agencia.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Financeiro" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Agencia.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Agencia.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.EnumsBases" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Agencia.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Components.Model.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iwcf_Agencia_GetObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObject" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Agencia_GetObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Agencia_SaveObject_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveObject" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Agencia_SaveObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveObjectResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Agencia_DeleteObject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteObject" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Agencia_DeleteObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteObjectResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Agencia_CopyObject_InputMessage">
    <wsdl:part name="parameters" element="tns:CopyObject" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Agencia_CopyObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyObjectResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Agencia_GetHierarquia_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHierarquia" />
  </wsdl:message>
  <wsdl:message name="Iwcf_Agencia_GetHierarquia_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHierarquiaResponse" />
  </wsdl:message>
  <wsdl:portType name="Iwcf_Agencia">
    <wsdl:operation name="GetObject">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Agencia/GetObject" message="tns:Iwcf_Agencia_GetObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Agencia/GetObjectResponse" message="tns:Iwcf_Agencia_GetObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveObject">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Agencia/SaveObject" message="tns:Iwcf_Agencia_SaveObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Agencia/SaveObjectResponse" message="tns:Iwcf_Agencia_SaveObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteObject">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Agencia/DeleteObject" message="tns:Iwcf_Agencia_DeleteObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Agencia/DeleteObjectResponse" message="tns:Iwcf_Agencia_DeleteObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CopyObject">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Agencia/CopyObject" message="tns:Iwcf_Agencia_CopyObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Agencia/CopyObjectResponse" message="tns:Iwcf_Agencia_CopyObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHierarquia">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_Agencia/GetHierarquia" message="tns:Iwcf_Agencia_GetHierarquia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_Agencia/GetHierarquiaResponse" message="tns:Iwcf_Agencia_GetHierarquia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iwcf_Agencia" type="tns:Iwcf_Agencia">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetObject">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Agencia/GetObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveObject">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Agencia/SaveObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteObject">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Agencia/DeleteObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyObject">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Agencia/CopyObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHierarquia">
      <soap:operation soapAction="http://tempuri.org/Iwcf_Agencia/GetHierarquia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcf_Agencia">
    <wsdl:port name="BasicHttpBinding_Iwcf_Agencia" binding="tns:BasicHttpBinding_Iwcf_Agencia">
      <soap:address location="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Agencia.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>