HLP.Entries.Services/Service References/wcf_Agencia/wcf_Agencia65.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Financeiro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Financeiro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_Agencia.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Components.Model.Models" />
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_Agencia.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:complexType name="AgenciaModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q1:modelComum">
        <xs:sequence>
          <xs:element minOccurs="0" name="cAgencia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idAgencia" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idBanco" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Components.Model.Models" minOccurs="0" name="lAgencia_ContatoModel" nillable="true" type="q2:ArrayOfContatoModel" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HLP.Components.Model.Models" minOccurs="0" name="lAgencia_EnderecoModel" nillable="true" type="q3:ArrayOfEnderecoModel" />
          <xs:element minOccurs="0" name="xAgencia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xFax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xTelefone" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgenciaModel" nillable="true" type="tns:AgenciaModel" />
</xs:schema>