ViewModel/HLP.Entries.ViewModel/Service References/multaService/serviceMulta2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8081/wcf/serviceMulta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" />
  <xs:element name="getMulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMulta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" minOccurs="0" name="getMultaResult" nillable="true" type="q1:MultasModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveMulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" minOccurs="0" name="objMulta" nillable="true" type="q2:MultasModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveMultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveMultaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMulta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteMultaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyMulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMulta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyMultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="copyMultaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>