ViewModel/HLP.Entries.ViewModel/Service References/multaService/serviceMulta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceMulta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceMulta.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceMulta.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceMulta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceMulta.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceMulta.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceMulta.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceMulta_getMulta_InputMessage">
    <wsdl:part name="parameters" element="tns:getMulta" />
  </wsdl:message>
  <wsdl:message name="IserviceMulta_getMulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMultaResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceMulta_saveMulta_InputMessage">
    <wsdl:part name="parameters" element="tns:saveMulta" />
  </wsdl:message>
  <wsdl:message name="IserviceMulta_saveMulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveMultaResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceMulta_deleteMulta_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteMulta" />
  </wsdl:message>
  <wsdl:message name="IserviceMulta_deleteMulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteMultaResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceMulta_copyMulta_InputMessage">
    <wsdl:part name="parameters" element="tns:copyMulta" />
  </wsdl:message>
  <wsdl:message name="IserviceMulta_copyMulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:copyMultaResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceMulta">
    <wsdl:operation name="getMulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceMulta/getMulta" message="tns:IserviceMulta_getMulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceMulta/getMultaResponse" message="tns:IserviceMulta_getMulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveMulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceMulta/saveMulta" message="tns:IserviceMulta_saveMulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceMulta/saveMultaResponse" message="tns:IserviceMulta_saveMulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteMulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceMulta/deleteMulta" message="tns:IserviceMulta_deleteMulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceMulta/deleteMultaResponse" message="tns:IserviceMulta_deleteMulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="copyMulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceMulta/copyMulta" message="tns:IserviceMulta_copyMulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceMulta/copyMultaResponse" message="tns:IserviceMulta_copyMulta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceMulta" type="tns:IserviceMulta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMulta">
      <soap:operation soapAction="http://tempuri.org/IserviceMulta/getMulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveMulta">
      <soap:operation soapAction="http://tempuri.org/IserviceMulta/saveMulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMulta">
      <soap:operation soapAction="http://tempuri.org/IserviceMulta/deleteMulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copyMulta">
      <soap:operation soapAction="http://tempuri.org/IserviceMulta/copyMulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceMulta">
    <wsdl:port name="BasicHttpBinding_IserviceMulta" binding="tns:BasicHttpBinding_IserviceMulta">
      <soap:address location="http://192.168.9.33:8080/wcf/serviceMulta.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>