ViewModel/HLP.Entries.ViewModel/Service References/multaService/serviceMulta4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Comercial" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8081/wcf/serviceMulta.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:complexType name="MultasModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q1:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="idMultas" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="nDias" type="xs:int" />
          <xs:element minOccurs="0" name="pPercentual" type="xs:decimal" />
          <xs:element minOccurs="0" name="xDescricao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xNome" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MultasModel" nillable="true" type="tns:MultasModel" />
</xs:schema>