ViewModel/HLP.Entries.ViewModel/Service References/Modo_EntregaService/serviceModoEntrega.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceModoEntrega" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceModoEntrega.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceModoEntrega.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceModoEntrega.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Transportes" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceModoEntrega.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceModoEntrega.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceModoEntrega.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceModoEntrega_GetModo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModo" />
  </wsdl:message>
  <wsdl:message name="IserviceModoEntrega_GetModo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceModoEntrega_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IserviceModoEntrega_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceModoEntrega_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IserviceModoEntrega_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceModoEntrega_Copy_InputMessage">
    <wsdl:part name="parameters" element="tns:Copy" />
  </wsdl:message>
  <wsdl:message name="IserviceModoEntrega_Copy_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceModoEntrega">
    <wsdl:operation name="GetModo">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceModoEntrega/GetModo" message="tns:IserviceModoEntrega_GetModo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceModoEntrega/GetModoResponse" message="tns:IserviceModoEntrega_GetModo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceModoEntrega/Save" message="tns:IserviceModoEntrega_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceModoEntrega/SaveResponse" message="tns:IserviceModoEntrega_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceModoEntrega/Delete" message="tns:IserviceModoEntrega_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceModoEntrega/DeleteResponse" message="tns:IserviceModoEntrega_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceModoEntrega/Copy" message="tns:IserviceModoEntrega_Copy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceModoEntrega/CopyResponse" message="tns:IserviceModoEntrega_Copy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceModoEntrega" type="tns:IserviceModoEntrega">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetModo">
      <soap:operation soapAction="http://tempuri.org/IserviceModoEntrega/GetModo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IserviceModoEntrega/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IserviceModoEntrega/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <soap:operation soapAction="http://tempuri.org/IserviceModoEntrega/Copy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceModoEntrega">
    <wsdl:port name="BasicHttpBinding_IserviceModoEntrega" binding="tns:BasicHttpBinding_IserviceModoEntrega">
      <soap:address location="http://192.168.9.33:8081/wcf/serviceModoEntrega.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>