ViewModel/HLP.Entries.ViewModel/Service References/tipoServicoService/serviceTipoServico2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tipo_servicoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="cTipoServico" type="xs:int" />
      <xs:element minOccurs="0" name="idTipoServico" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="xTipoServico" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tipo_servicoModel" nillable="true" type="tns:Tipo_servicoModel" />
</xs:schema>