ViewModel/HLP.Entries.ViewModel/Service References/tipoServicoService/serviceTipoServico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceTipoServico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceTipoServico.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceTipoServico.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8080/wcf/serviceTipoServico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceTipoServico_GetTipo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTipo" />
  </wsdl:message>
  <wsdl:message name="IserviceTipoServico_GetTipo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTipoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceTipoServico_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IserviceTipoServico_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceTipoServico_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IserviceTipoServico_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceTipoServico_Copy_InputMessage">
    <wsdl:part name="parameters" element="tns:Copy" />
  </wsdl:message>
  <wsdl:message name="IserviceTipoServico_Copy_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceTipoServico">
    <wsdl:operation name="GetTipo">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceTipoServico/GetTipo" message="tns:IserviceTipoServico_GetTipo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceTipoServico/GetTipoResponse" message="tns:IserviceTipoServico_GetTipo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceTipoServico/Save" message="tns:IserviceTipoServico_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceTipoServico/SaveResponse" message="tns:IserviceTipoServico_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceTipoServico/Delete" message="tns:IserviceTipoServico_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceTipoServico/DeleteResponse" message="tns:IserviceTipoServico_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceTipoServico/Copy" message="tns:IserviceTipoServico_Copy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceTipoServico/CopyResponse" message="tns:IserviceTipoServico_Copy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceTipoServico" type="tns:IserviceTipoServico">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTipo">
      <soap:operation soapAction="http://tempuri.org/IserviceTipoServico/GetTipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IserviceTipoServico/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IserviceTipoServico/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <soap:operation soapAction="http://tempuri.org/IserviceTipoServico/Copy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceTipoServico">
    <wsdl:port name="BasicHttpBinding_IserviceTipoServico" binding="tns:BasicHttpBinding_IserviceTipoServico">
      <soap:address location="http://192.168.9.33:8080/wcf/serviceTipoServico.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>