HLP.Entries.Services/Service References/wcf_Transportadora/wcf_Transportadora63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Transportes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Transportes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_Transportadora.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Components.Model.Models" />
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_Transportadora.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
  <xs:complexType name="TransportadorModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q1:modelComum">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ativo" type="xs:boolean" />
          <xs:element minOccurs="0" name="idTransportador" nillable="true" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Components.Model.Models" minOccurs="0" name="lTransportador_Contato" nillable="true" type="q2:ArrayOfContatoModel" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HLP.Components.Model.Models" minOccurs="0" name="lTransportador_Endereco" nillable="true" type="q3:ArrayOfEnderecoModel" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HLP.Components.Model.Models" minOccurs="0" name="lTransportador_Motorista" nillable="true" type="q4:ArrayOfContatoModel" />
          <xs:element minOccurs="0" name="lTransportador_Veiculos" nillable="true" type="tns:ArrayOfTransportador_VeiculosModel" />
          <xs:element minOccurs="0" name="stPessoa" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="xCodigoAlternativo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xCpfCnpj" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xFantasia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xFax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xHttp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xIm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xNome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xObs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xRgIe" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xRntrc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xTelefone1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xTelefone2" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TransportadorModel" nillable="true" type="tns:TransportadorModel" />
  <xs:complexType name="ArrayOfTransportador_VeiculosModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transportador_VeiculosModel" nillable="true" type="tns:Transportador_VeiculosModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransportador_VeiculosModel" nillable="true" type="tns:ArrayOfTransportador_VeiculosModel" />
  <xs:complexType name="Transportador_VeiculosModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" base="q5:modelComum">
        <xs:sequence>
          <xs:element minOccurs="0" name="idTransportador" type="xs:int" />
          <xs:element minOccurs="0" name="idTransportadorVeiculo" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idUf" type="xs:int" />
          <xs:element minOccurs="0" name="xMarca" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xModelo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xPlacaVeiculo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Transportador_VeiculosModel" nillable="true" type="tns:Transportador_VeiculosModel" />
</xs:schema>