ViewModel/HLP.Entries.ViewModel/Service References/agenciaService/serviceAgencia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceAgencia" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceAgencia.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceAgencia.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceAgencia.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Financeiro" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceAgencia.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Models" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceAgencia.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Model.Components" />
      <xsd:import schemaLocation="http://192.168.9.33:8081/wcf/serviceAgencia.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HLP.Comum.Resources.RecursosBases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IserviceAgencia_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IserviceAgencia_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceAgencia_GetObjeto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjeto" />
  </wsdl:message>
  <wsdl:message name="IserviceAgencia_GetObjeto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjetoResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceAgencia_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IserviceAgencia_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IserviceAgencia_Copy_InputMessage">
    <wsdl:part name="parameters" element="tns:Copy" />
  </wsdl:message>
  <wsdl:message name="IserviceAgencia_Copy_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyResponse" />
  </wsdl:message>
  <wsdl:portType name="IserviceAgencia">
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceAgencia/Save" message="tns:IserviceAgencia_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceAgencia/SaveResponse" message="tns:IserviceAgencia_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjeto">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceAgencia/GetObjeto" message="tns:IserviceAgencia_GetObjeto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceAgencia/GetObjetoResponse" message="tns:IserviceAgencia_GetObjeto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceAgencia/Delete" message="tns:IserviceAgencia_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceAgencia/DeleteResponse" message="tns:IserviceAgencia_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <wsdl:input wsaw:Action="http://tempuri.org/IserviceAgencia/Copy" message="tns:IserviceAgencia_Copy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IserviceAgencia/CopyResponse" message="tns:IserviceAgencia_Copy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IserviceAgencia" type="tns:IserviceAgencia">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IserviceAgencia/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjeto">
      <soap:operation soapAction="http://tempuri.org/IserviceAgencia/GetObjeto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IserviceAgencia/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <soap:operation soapAction="http://tempuri.org/IserviceAgencia/Copy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceAgencia">
    <wsdl:port name="BasicHttpBinding_IserviceAgencia" binding="tns:BasicHttpBinding_IserviceAgencia">
      <soap:address location="http://192.168.9.33:8081/wcf/serviceAgencia.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>