HLP.Components.Services/Service References/wcf_HlpPesqPadrao/wcf_HlpPesqPadrao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcf_HlpPesqPadrao" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_HlpPesqPadrao.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_HlpPesqPadrao.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_HlpPesqPadrao.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_HlpPesqPadrao.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iwcf_HlpPesqPadrao_GetTableInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTableInformation" />
  </wsdl:message>
  <wsdl:message name="Iwcf_HlpPesqPadrao_GetTableInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTableInformationResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_HlpPesqPadrao_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="Iwcf_HlpPesqPadrao_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:portType name="Iwcf_HlpPesqPadrao">
    <wsdl:operation name="GetTableInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_HlpPesqPadrao/GetTableInformation" message="tns:Iwcf_HlpPesqPadrao_GetTableInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_HlpPesqPadrao/GetTableInformationResponse" message="tns:Iwcf_HlpPesqPadrao_GetTableInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_HlpPesqPadrao/GetData" message="tns:Iwcf_HlpPesqPadrao_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_HlpPesqPadrao/GetDataResponse" message="tns:Iwcf_HlpPesqPadrao_GetData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iwcf_HlpPesqPadrao" type="tns:Iwcf_HlpPesqPadrao">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTableInformation">
      <soap:operation soapAction="http://tempuri.org/Iwcf_HlpPesqPadrao/GetTableInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/Iwcf_HlpPesqPadrao/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcf_HlpPesqPadrao">
    <wsdl:port name="BasicHttpBinding_Iwcf_HlpPesqPadrao" binding="tns:BasicHttpBinding_Iwcf_HlpPesqPadrao">
      <soap:address location="http://hlpsistemas.no-ip.org:8081/wcf/wcf_HlpPesqPadrao.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>