HLP.Entries.Services/Service References/wcf_ModoEntrega/wcf_ModoEntrega3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Transportes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Transportes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hlpsistemas.no-ip.org:8081/wcf/wcf_ModoEntrega.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" />
  <xs:complexType name="Modos_entregaModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Base.ClassesBases" base="q1:modelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="_idModosEntrega" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idModosEntrega" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idTransportador" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="stServico" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="xDescricao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xModosEntrega" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Modos_entregaModel" nillable="true" type="tns:Modos_entregaModel" />
</xs:schema>