ViewModel/HLP.Entries.ViewModel/Service References/fabricanteService/serviceFabricante2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.9.33:8080/wcf/serviceFabricante.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" />
  <xs:element name="getFabricante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFabricante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFabricanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="getFabricanteResult" nillable="true" type="q1:FabricanteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveFabricante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HLP.Entries.Model.Models.Gerais" minOccurs="0" name="objFabricante" nillable="true" type="q2:FabricanteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveFabricanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveFabricanteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFabricante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFabricante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFabricanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteFabricanteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyFabricante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFabricante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyFabricanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="copyFabricanteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>